
/* Custom checkbox in investors list*/

input[type=checkbox]:disabled + label:hover,
body.dashboard div#invests-list div.investor div.recompensas input[type=checkbox]:disabled + label:hover:active {
  background-position: 0 -61px;
}

input[type=checkbox] {
  &:disabled:checked + label, &:hover:disabled:checked + label,
  &:focus:disabled:checked + label, &:disabled:checked + label:hover {
    background-position: 0 -141px;
  }
}

/* Custom checkbox in comment box*/

input[type=checkbox]:disabled + label:hover,
body.dashboard div#colective-messages input[type=checkbox]:disabled + label:hover:active {
  background-position: 0 -61px;
}

input[type=checkbox] {
  &:disabled:checked + label,
  &:hover:disabled:checked + label,
  &:focus:disabled:checked + label,
  &:disabled:checked + label:hover {
    background-position: 0 -141px;
  }
}

