@charset "utf-8";

* {
  box-sizing: border-box;
  font-family: 'Hiragino Kaku Gothic Pro', 'Meiryo', 'メイリオ', Helvetica, Arial, sans-serif;
}

html {
  height: 100%;
  margin: 0;
  overflow: auto;
}

body {
  background-color: $baseCol;
  color: $grayCol03;
  font-size: 14px;
  margin: 0;
  min-height: 100%;
  overflow: hidden !important;
  padding: 0;
  position: relative;
  top: 0;
  word-wrap: break-word;

  .inner{
    margin: 0 auto;
    overflow: hidden;
    zoom: 1;
  }
}

td, th, a, a:link, a:visited, a:active, a:hover, input, textarea, button {
  color: $grayCol03;
  font-size: 14px;
  word-wrap: break-word;
}

img {
  border: none;
}

input, textarea, button {
  font-size: 14px;
}

h1 {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin: 1em 0;
}

a,
a:link{
  color: $mainCol01;
  &:hover{
    color: $mainCol02;
  }
}

input[type="text"],
input[type="password"] {
  box-sizing: border-box;
}

input[type="text"],
input[type="password"],
textarea,
fieldset {
  background-color: #eeeeee;
  border: 1px solid $grayCol01;
  min-height: 27px;
  padding: .3em;
}

fieldset {
  background: transparent;
  display: inline-block;
}

textarea {
  min-height: 8em;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
  background-color: white !important;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
a.button {
  background: none;
  background-color: $subCol01;
  border: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 3px 3px 0 #ccc;
  -webkit-box-shadow: 0 3px 3px 0 #ccc;
  box-shadow: 0 3px 3px 0 #ccc;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 300;
  height: 40px;
  line-height: 40px;
  margin: 10px auto;
  padding: 0;
  text-align: center;
  text-decoration: none;
  width: 250px;
  &.disabled {
    background: $grayCol01;
    box-shadow: none;
    color: #fff;
    cursor: default;
    &:hover {
      opacity: 1;
    }
  }
}

input.back[type="button"] {
  background: none;
  background: $grayCol02;
}

button.green {
  line-height: 38px;
  height: 38px;
  padding: 0;
  width: 140px;
}

body.project-edit div#main #project-steps button {
  width: auto;
}

a.button.red {
  font-size: 16px;
  font-weight: 600;
  line-height: 50px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */



a.up{display:inline-block;padding-left:15px;margin-left:18px; background:url('/view/m/images/arrow-up3.png') no-repeat left; line-height: 20px;
  font-size: 12px;
  text-decoration: none;
  color: #9f9f9f;
  margin-bottom: 40px;
  &:hover{background:url('/view/m/images/arrow-up.png') no-repeat left;
    color: #20b3b2;
  }
}


/* /user/m/leave */
textarea#leave-message {
  width:100%;
}