@charset "utf-8";

body.home {

  #main {
    div.learn {
      margin-bottom: 16px;
      position: relative;
    }

    //プロジェクト一覧
    .widget.projects {
      overflow: hidden;
      /*.meter {
        dl.percent {
          top: 55px;
        }
      }*/
    }
  }
}
