@charset "utf-8";

body.home {

  /*#wrapper {
    > a.button.red {
      height: 30px;
      line-height: 30px;
      margin: 8px;
    }
  }*/

  #main {
    div.learn {
      margin-bottom: 16px;
      position: relative;
    }

    //プロジェクト一覧
    .widget.projects {
      overflow: hidden;
    }
  }
}
