.project-show {

  .button.supportit {
    background: $subCol02;
  }

  #sub-header {
    background: #faf8f8;
    height: 40px;
    margin-bottom: 0;
    padding: 0;
    position: relative;

    > div {
      position: fixed;
      z-index: 1;
    }

    .project-menu {
      position: relative;
      &.viewport_projectnav {
        background-color: $baseWhite;
        border-bottom: 1px solid $grayCol01;
        height: 41px;
        margin: 0 auto;
        margin-left: 0;
        overflow: hidden;
        -webkit-transform: translateZ(0); /* Optional: When heavy at iOS6+ */
        width: 100vw;
      }
      .flipsnap_projectnav {
        background-color: $baseWhite;
        font-size: 0;
        list-style: none;
        margin: 0 5%;
        padding: 0;
        width: 720px;
        &:after {
          clear: both;
          content: '';
          display: block;
          height: 0;
        }
        .item {
          border: none;
          border-right: 1px solid $grayCol01;
          float: left;
          &:last-child {
            border-right: none;
          }
          a {
            color: $grayCol03;
            display: inline-block;
            font-size: 12px;
            height: 40px;
            line-height: 40px;
            margin: 0 auto;
            padding: 0 8px;
            text-decoration: none;
            text-align: center;
          }
          &.active,
          &.show {
            a {
              border-bottom: 4px solid $color07;
            }
          }

          span.digits {
            display: inline-block;
            text-align: center;
          }
        }
      }
      .pj_prev,
      .pj_next {
        background-color: $baseWhite;
        display: block;
        font-size: 12px;
        height: 40px;
        line-height: 40px;
        opacity: 0.9;
        position: absolute;
        text-align: center;
        top: 0;
        width: 5%;
      }
      .pj_prev {
        border-right: 1px solid #d9d9d9;
        left: 0;
      }
      .pj_next {
        border-left: 1px solid #d9d9d9;
        right: 0;
      }
    }

    .sub-menu {
      p {
        &.prev2, &.next2 {
          position: absolute;
          top: 0;
          width: 7px;
          height: 27px;
          margin: 0;
          padding-top: 14px;
          padding-left: 4px;
          padding-right: 4px;
          line-height: 27px;
          background-color: #e5e5e5;
          z-index: 1;
        }
        &.prev2 {
          left: 0;
          border-right: 1px dashed $grayCol01;
        }
        &.next2 {
          right: 0;
          border-left: 1px dashed $grayCol01;
        }
      }
    }

    .project-subtitle {
      font-size: 16px;
      font-weight: 300;
      margin: 3px 0;
      max-width: 620px;
      font-style: normal;
    }
    .wants-skills {
      margin-bottom: 8px;
      font-size: 12px;
      a {
        font-size: 12px;
      }
    }
    .project-by {
      color: #20B3B2;
      font-size: 12px;
      a {
        font-weight: 300;
        color: #cc6600;
        font-size: 12px;
        text-decoration: none;
        &:hover {
          color: #58595B;
        }
      }
    }
    .categories {
      position: absolute;
      text-align: right;
      top: 90px;
      width: 100%;
      h3 {
        font-weight: 300;
        color: #20B3B2;
        margin: 0;
        display: inline-block;
      }
      * {
        font-size: 12px;
      }
      a {
        color: #58595B;
        text-decoration: none;
        &:hover {
          color: #20B3B2;
        }
      }
    }
  }

  .social_bookmark {
    display: flex;
    justify-content: space-around;
    letter-spacing: -0.4em;
    .twitter,
    .facebook,
    .gPlus {
      margin-right: 10px;
    }
    > div {
      display: inline-block;
      letter-spacing: normal;
      vertical-align: top;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  #main {
    clear: both;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 4px;
    position: relative;
    z-index: 0;

    &.threecols {
      background-color: #e7e7e7;
      padding: 0;
    }

    .center {

      > .widget {
        background-color: $baseWhite;
        margin-bottom: 20px;
        padding: 20px;
      }

      .widget.project-summary.h_ttl {
        background: none;
        margin-bottom: 0;
      }

      //ギャラリー
      .gallery-image{
        background-color: $baseWhite;
        display:block;
        margin: 0 auto 40px;
        max-height: 240px;
        overflow: hidden;
        text-align:center;
        width: 100%;
        img {
          display: block;
          margin: 0 auto;
          height: auto;
          width: 100%;
        }
      }

      //支援(グラフ)ウィジェット
      .widget.project-support {
        .project-widget-box {
          padding-left: 0;
          padding-right: 0;
          border-bottom: none;
        }
        .meter {
          > h3.title {
            background-color: $grayCol03;
            color: $baseWhite;
            font-size: 12px;
            font-weight: 600;
            height: 30px;
            line-height: 30px;
            padding-top: 0;
          }
          div.graph {
            margin-top: 0;
          }
        }
      }

      //支援者ウィジェット
      .widget.project-supporters {
        padding: 0;
        margin-top: 20px;
        h3.title {
          display: none;
        }
      }

      //シェアウィジェット
      .widget.project-share {
        margin-bottom: 25px;
        padding: 20px;
      }

      //
      .widget.project-invest {
        .address {
          margin: 0 auto;
          padding: 0 0 20px 0;
          clear: left;
          background-color: #fff;
        }
        &.method input#paymethod {
          width: 145px;
          margin: 0 auto;
          padding-bottom: 25px;
        }
        form {
          padding: 24px 0 24px 8px;
        }
      }

      //スキルと物品の募集
      .widget.project-collaborations {
        background: none;
        padding: 0;
        .project-widget-box {
          background: none;
          ul {
            li {
              background-color: $baseWhite;
              list-style: none;
              margin-bottom: 12px;
              padding: 16px;
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
          h6 {
            display: table;
            margin: 0 0 10px;
            min-height: 32px;
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            span {
              display: table-cell;
              vertical-align: middle;
            }
          }
        }
      }

      //お礼・公共リターンウィジェット
      .widget.project-rewards-summary {
        background: none;
        padding: 0;
      }

      //サブナビ　＞　プロジェクト
      &.home {
        .widget.project-support {
          margin: 0 20px 20px;
          padding: 0;
        }
      }

      //サブナビ　＞　資金の内訳
      &.needs {
        .widget.project-message {
          a.preview {
            top: 205px;
          }
        }
      }

      //サブナビ　＞　スキル・物品の募集
      &.messages {
        //メッセージ送信
        .widget.project-message {
          margin-bottom: 0;
        }
        //メッセージ表示
        .widget.project-messages {
          padding-top: 0;
        }
      }

      //サブナビ　＞　？
      &.profile {
        .widget:last-child {
          margin-bottom: 0!important;
          border-bottom: 1px dashed $grayCol01;
        }
      }

      //活動報告
      &.updates {
        .project-updates {
          background: none;
          margin-bottom: 12px;
          padding: 0;
          .widget.post {
            background-color: $baseWhite;
            padding: 12px 16px;
          }
          h3.title {
            font-weight: 400;
            margin: 12px 20px;
            padding-left: 0;
          }
          .widget.blog-comment {
            padding: 0 16px 20px;
            h3.title {
              font-size: 16px;
              font-weight: 600;
              margin: 12px 0;
            }
          }
          .blog-share {
            padding-top: 20px;
            .social_bookmark {
              margin-bottom: 12px;
              margin-left: 0;
              position: relative;
            }
          }
          > p {
            padding: 0 10px;
          }
        }
      }

      form div.widget {
        margin: 0 auto;
        clear: left;
        background-color: #fff;
      }
    }

  }



  .widget.project-spread{
    .obtained {
      display: none;
    }
  }

  //プロジェクトオーナー
  .widget.user {
    background-color: #fff;
    h3.supertitle {
      background-color: #669900;
      border-bottom: none;
      color: #ffffff;
      font-size: 15px;
      font-weight: 300;
      height: 40px;
      line-height: 40px;
      padding: 0;
      padding-left: 20px;
    }
    .project-widget-box {
      margin: 0;
      padding: 16px;
      position: relative;
      blockquote.about {
        font-size: 12px;
        line-height: 1.4em;
        margin: 10px 0 0 0;
      }
      dl {
        border: 1px solid $grayCol01;
        border-radius: 6px;
        font-size: 13px;
        margin: 20px 0;
        padding: 0;
        dt {
          display: none;
        }
        dd {
          border: none;
          border-bottom: 1px solid $grayCol01;
          line-height: 1.4em;
          margin-left: 0;
          padding: 0.8em 1.5em 0.8em 50px;
          text-align: left;
          text-indent: 0;
          a {
            text-decoration: none;
          }
          &:last-child {
            border: none;
          }
          &.location {
            background: url('/view/m/images/location/s.png') no-repeat 1.5em center;
          }
          &.message {
            background: url('/view/m/images/bocadillo/s.png') no-repeat 1.5em center;
            a {
              color: #666;
              font-size: 14px;
              font-weight: 300;
            }
          }
          &.links {
            background: url('/view/m/images/social/url.png') no-repeat 1.5em center;
            ul {
              line-height: 1.2em !important;
              li a {
                font-size: 14px;
                font-weight: 300;
              }
            }
          }
          &.profile {
            background: url('/view/m/images/icon/m/s_task.png')no-repeat 1.1em center;
          }
        }
      }
    }
  }

  //プロジェクト詳細　＞　
  .widget.project-support {
    .meter {
      padding-bottom: 134px;
      padding-left: 16px;
      padding-right: 16px;
      &.skillmatching {
        padding-bottom: 28px;
      }
    }
    .invest-notice {
      margin: 5px 16px 0;
      border: 1px solid $grayCol01;
      border-radius: 3px;
      padding: 4px;
    }
  }

  //
  .widget.project-invest {
    .disabled {
      color: #cccccc;
    }
  }
}

/*----------------------------------------------------------------------
  project/view.css
----------------------------------------------------------------------*/

div {
  .widget {
  }
  &#project-support,
  &#project-investors, &#project-collaborations, &#project-rewards {
    padding: 0;
  }
  &.widget {
    &.user, &.project-investors, &.user-mates, &.user, &.user-supporters {
      padding: 0;
    }
  }
  &#project-investors .project-widget-box, &#project-collaborations .project-widget-box {
    padding: 15px 20px;
  }
  &.widget {
    &.user .project-widget-box, &.project-investors .project-widget-box, &.user-supporters .project-widget-box div.widget.project-needs .project-widget-box {
      padding: 15px 20px;
    }
    &.user-mates .project-widget-box {}
  }
  &#project-collaborations .project-widget-box, &#project-support .project-widget-box, &.widget.project-investors .project-widget-box {
    background-color: #fff;
    border-bottom: 1px dashed $grayCol01;
  }
  &#project-collaborations .project-widget-box {
    h3.title {
      color: #666;
      font-weight: 600;
    }
    ul li p {
      font-size: 12px;
    }
  }
  &.widget.project-support {
    position: relative;
  }
  &.widge dl {
    margin: 0;
    padding: 0 0 0 20px;
    float: left;
    margin-left: 15px;
    margin-bottom: 60px;
  }
}
