.project-show {

  .button.supportit {
    background: $subCol02;
  }

  #sub-header {
    height: 40px;
    position: relative;

    > div {
      position: fixed;
      z-index: 1;
    }

    .project-menu {
      position: relative;
      &.viewport_projectnav {
        background-color: $baseWhite;
        border-bottom: 1px solid $grayCol01;
        height: 41px;
        margin: 0 auto;
        margin-left: 0;
        overflow: hidden;
        -webkit-transform: translateZ(0); /* Optional: When heavy at iOS6+ */
        width: 100vw;
      }
      .flipsnap_projectnav {
        @include cf;
        font-size: 0;
        list-style: none;
        margin: 0 5%;
        padding: 0;
        width: 720px;
        .item {
          border: none;
          border-right: 1px solid $grayCol01;
          float: left;
          &:last-child {
            border-right: none;
          }
          a {
            color: $grayCol03;
            display: block;
            font-size: 12px;
            height: 40px;
            line-height: 40px;
            padding: 0 8px;
            text-decoration: none;
          }
          &.active,
          &.show {
            a {
              border-bottom: 4px solid $color07;
            }
          }

          span.digits {
            display: inline-block;
            text-align: center;
          }
        }
      }
      .pj_prev,
      .pj_next {
        background-color: $baseWhite;
        display: block;
        font-size: 12px;
        height: 40px;
        line-height: 40px;
        opacity: 0.9;
        position: absolute;
        text-align: center;
        top: 0;
        width: 5%;
      }
      .pj_prev {
        border-right: 1px solid #d9d9d9;
        left: 0;
      }
      .pj_next {
        border-left: 1px solid #d9d9d9;
        right: 0;
      }
    }

    /*.project-subtitle {
      font-size: 16px;
      font-weight: 300;
      margin: 3px 0;
      max-width: 620px;
      font-style: normal;
    }
    .wants-skills {
      margin-bottom: 8px;
      font-size: 12px;
      a {
        font-size: 12px;
      }
    }
    .categories {
      position: absolute;
      text-align: right;
      top: 90px;
      width: 100%;
      h3 {
        font-weight: 300;
        color: #20B3B2;
        margin: 0;
        display: inline-block;
      }
      * {
        font-size: 12px;
      }
      a {
        color: #58595B;
        text-decoration: none;
        &:hover {
          color: #20B3B2;
        }
      }
    }*/
  }

  .social_bookmark {
    letter-spacing: -0.4em;
    > div {
      display: inline-block;
      letter-spacing: normal;
      vertical-align: top;
      margin-right: 10px;
      margin-bottom: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  #main {
    clear: both;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 4px;
    position: relative;
    z-index: 0;

    &.threecols {
      padding: 0;
    }

    .center {

      > .widget {
        background-color: $baseWhite;
        margin-bottom: 20px;
        padding: 20px;
      }

      .widget.project-summary.h_ttl {
        background: none;
        margin-bottom: 0;
      }

      //ギャラリー
      .gallery-image{
        background-color: $baseWhite;
        display:block;
        margin: 0 auto;
        max-height: 240px;
        overflow: hidden;
        text-align:center;
        width: 100%;
        img {
          display: block;
          margin: 0 auto;
          height: auto;
          width: 100%;
        }
      }
      #prjct-gallery {
        float:left;
        .prjct-gallery-container {
          display:none;
          height:210px;
          .gallery-image {
            display:block;
            height:auto;
            text-align: center;
            width:100vw;
          }
        }
        ul.slderpag {
          float:left;
          height:auto;
          margin: 8px 0;
          list-style:none;
          padding:0;
          li{
            cursor:pointer;
            display: block;
            float: left;
            overflow: hidden;
            margin: 0 4px;
            a{
              background-color: $grayCol01;
              color: $grayCol01;
              display:block;
              height: 16px;
              width: 16px;
              &:hover{
                background-color: $mainCol02;
                color: $mainCol02;
              }
            }
            &.current {
              a {
                background-color: $mainCol02;
                color: $mainCol02;
              }
            }
          }
        }
        a {
          &.next,
          &.prev {
            cursor:pointer;
            float:left;
            height: 20px;
            margin: 8px 0 0;
            overflow: hidden;
            position: relative;
            width: 20px;
          }
          &.prev{
            margin-right: 4px;
            &:before {
              border: 8px solid transparent;
              border-right: 12px solid $mainCol02;
              content: '';
              display: block;
              width: 0;
              height: 0;
            }
          }
          &.next{
            margin-left: 4px;
            &:before {
              border: 8px solid transparent;
              border-left: 12px solid $mainCol02;
              content: '';
              display: block;
              width: 0;
              height: 0;
            }
          }
        }
      }

      //支援(グラフ)ウィジェット
      .widget.project-support {
        .project-widget-box {
          padding-left: 0;
          padding-right: 0;
          border-bottom: none;
        }
        .meter {
          > h3.title {
            background-color: $grayCol03;
            color: $baseWhite;
            font-size: 12px;
            font-weight: 600;
            height: 30px;
            line-height: 30px;
            padding-top: 0;
          }
          div.graph {
            margin-top: 0;
          }
        }
      }

      //支援者ウィジェット
      .widget.project-supporters {
        padding: 0;
        margin-top: 20px;
        h3.title {
          display: none;
        }
      }

      //シェアウィジェット
      .widget.project-share {
        margin-bottom: 25px;
        padding: 20px 20px 0;
      }

      //スキルと物品の募集
      .widget.project-collaborations {
        background: none;
        padding: 0;
        .project-widget-box {
          background: none;
          ul {
            li {
              background-color: $baseWhite;
              list-style: none;
              margin-bottom: 12px;
              padding: 16px;
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
          h6 {
            display: table;
            margin: 0 0 10px;
            min-height: 32px;
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            span {
              display: table-cell;
              vertical-align: middle;
            }
          }
        }
      }

      //お礼・公共リターンウィジェット
      .widget.project-rewards-summary {
        background: none;
        padding: 0;
      }

      //サブナビ　＞　プロジェクト
      &.home {
        .widget.project-support {
          margin: 0 20px 20px;
          padding: 0;
        }
      }

      //サブナビ　＞　資金の内訳
      &.needs {
        .widget.project-message {
          a.preview {
            top: 205px;
          }
        }
      }

      //サブナビ　＞　スキル・物品の募集
      &.messages {
        //メッセージ送信
        .widget.project-message {
          margin-bottom: 0;
        }
        //メッセージ表示
        .widget.project-messages {
          padding-top: 0;
        }
      }

      //サブナビ　＞　？
      &.profile {
        .widget:last-child {
          margin-bottom: 0!important;
          border-bottom: 1px dashed $grayCol01;
        }
      }

      //活動報告
      &.updates {
        .project-updates {
          background: none;
          margin-bottom: 12px;
          padding: 0;
          .widget.post {
            background-color: $baseWhite;
            padding: 12px 16px;
          }
          h3.title {
            font-weight: 400;
            margin: 12px 20px;
            padding-left: 0;
          }
          .widget.blog-comment {
            padding: 0 16px 20px;
            h3.title {
              font-size: 16px;
              font-weight: 600;
              margin: 12px 0;
            }
          }
          .blog-share {
            padding-top: 20px;
            .social_bookmark {
              margin-bottom: 12px;
              margin-left: 0;
              position: relative;
            }
          }
          > p {
            padding: 0 10px;
          }
        }
      }

      //決済システムへのジャンプ画面
      &.invest-info {
        form {
          display: flex;
        }
      }


      form div.widget {
        margin: 0 auto;
        clear: left;
        background-color: #fff;
      }
    }

  }



  .widget.project-spread{
    .obtained {
      display: none;
    }
  }

  //プロジェクト詳細　＞　
  .widget.project-support {
    .meter {
      padding-left: 16px;
      padding-right: 16px;
      &.skillmatching {
        padding-bottom: 28px;
      }
    }
    .invest-notice {
      margin: 5px 16px 0;
      border: 1px solid $grayCol01;
      border-radius: 3px;
      padding: 4px;
    }
  }

  //
  .widget.project-invest {
    .disabled {
      color: #cccccc;
    }
  }
}
