@charset "utf-8";
.project-show {

  .button.supportit {
    background: $subCol02;
  }

  #sub-header {
    height: 40px;
    position: relative;

    > div {
      position: fixed;
      z-index: 1;
    }

    .project-menu {
      position: relative;
      &.viewport_projectnav {
        background-color: $baseWhite;
        border-bottom: $solidBorder;
        height: 41px;
        margin: 0 auto;
        margin-left: 0;
        overflow: hidden;
        -webkit-transform: translateZ(0); /* Optional: When heavy at iOS6+ */
        width: 100vw;
      }
      .flipsnap_projectnav {
        @include cf;
        font-size: 0;
        list-style: none;
        margin: 0 5%;
        padding: 0;
        width: 720px;
        .item {
          border: none;
          border-right: $solidBorder;
          float: left;
          &:last-child {
            border-right: none;
          }
          a {
            color: $grayCol03;
            display: block;
            font-size: 12px;
            height: 40px;
            line-height: 40px;
            padding: 0 8px;
            text-decoration: none;
          }
          &.active,
          &.show {
            a {
              border-bottom: 4px solid $color07;
            }
          }

          span.digits {
            display: inline-block;
            text-align: center;
          }
        }
      }
      .pj_prev,
      .pj_next {
        background-color: $baseWhite;
        display: block;
        font-size: 12px;
        height: 40px;
        line-height: 40px;
        opacity: 0.9;
        position: absolute;
        text-align: center;
        top: 0;
        width: 5%;
      }
      .pj_prev {
        border-right: $solidBorder;
        left: 0;
      }
      .pj_next {
        border-left: $solidBorder;
        right: 0;
      }
    }

  }

  .social_bookmark {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    letter-spacing: -0.4em;
    padding-bottom: 8px;
    > div {
      letter-spacing: normal;
      margin-bottom: 12px;
    }
  }

  #main {
    clear: both;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 4px;
    position: relative;
    z-index: 0;

    &.threecols {
      padding: 0;
    }

    .center {

      > .widget {
        background-color: $baseWhite;
        margin-bottom: 20px;
        padding: 20px;
      }

      .widget.project-summary.h_ttl {
        background: none;
        margin-bottom: 0;
      }

      //ギャラリー
      .gallery-image{
        background-color: $baseWhite;
        display:block;
        margin: 0 auto;
        overflow: hidden;
        text-align:center;
        width: 100%;
        img {
          display: block;
          margin: 0 auto;
          height: auto;
          width: 100%;
        }
      }

      //画像スライダー
      #prjct-gallery {
        @include cf;
        .prjct-gallery-container {
          display:none;
          .slides_control {
            padding-top: 73%;
          }
          .gallery-image {
            display:block;
            height:auto;
            text-align: center;
            width:100vw;
          }
        }
        ul.slderpag {
          float:left;
          height:auto;
          list-style:none;
          margin-top: 8px;
          padding:0;
          li{
            cursor:pointer;
            display: block;
            float: left;
            overflow: hidden;
            margin: 0 4px 4px 4px;
            a{
              background-color: $grayCol01;
              color: $grayCol01;
              display:block;
              height: 12px;
              width: 12px;
              &:hover{
                background-color: $mainCol02;
                color: $mainCol02;
              }
            }
            &.current {
              a {
                background-color: $mainCol02;
                color: $mainCol02;
              }
            }
          }
        }
        a {
          &.next,
          &.prev {
            cursor:pointer;
            float:left;
            height: 12px;
            margin-top: 8px;
            overflow: hidden;
            position: relative;
            text-indent: -9999px;
            width: 12px;
            &:after {
              content: '';
              border-bottom: 6px solid transparent;
              border-top: 6px solid transparent;
              display: block;
              height: 0;
              position: absolute;
              top: 0;
              width: 0;
            }
          }
          &.prev{
            margin-left: 20px;
            margin-right: 4px;
            &:after {
              border-left: 2px solid transparent;
              border-right: 10px solid $grayCol02;
            }
            &:hover {
              &:after {
                border-right-color: $mainCol02;
              }
            }
          }
          &.next{
            margin-left: 4px;
            &:after {
              border-left: 10px solid $grayCol02;
              border-right: 2px solid transparent;
            }
            &:hover{
              &:after {
                border-left-color: $mainCol02;
              }
            }
          }
        }
      }

      //支援(グラフ)ウィジェット
      .widget.project-support {
        .project-widget-box {
          border-bottom: none;
          padding-bottom: 0;
          padding-left: 0;
          padding-right: 0;
        }
        .meter {
          > h3.title {
            background-color: $grayCol03;
            color: $baseWhite;
            font-size: 12px;
            font-weight: 600;
            height: 30px;
            line-height: 30px;
            padding-top: 0;
          }
          div.graph {
            margin-bottom: 20px;
          }
        }
        .buttons {
          padding-bottom: 8px;
        }
      }

      //支援者ウィジェット
      .widget.project-supporters {
        margin-top: 20px;
        padding: 0;
        background: none;
        h3.title {
          display: none;
        }
      }

      //シェアウィジェット
      .widget.project-share {
        margin-bottom: 25px;
        padding: 20px 20px 0;
      }

      //スキルと物品の募集
      .widget.project-collaborations {
        background: none;
        padding: 0;
        .project-widget-box {
          background: none;
          ul {
            li {
              background-color: $baseWhite;
              list-style: none;
              margin-bottom: 12px;
              padding: 16px;
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
          h6 {
            display: table;
            margin: 0 0 10px;
            min-height: 32px;
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            span {
              display: table-cell;
              vertical-align: middle;
            }
          }
        }
      }

      //お礼・公共リターンウィジェット
      .widget.project-rewards-summary {
        background: none;
        padding: 0;
      }

      //サブナビ　＞　プロジェクト
      &.home {
        .widget.project-support {
          margin: 0 20px 20px;
          padding: 0;
        }
      }

      //サブナビ　＞　資金の内訳
      &.needs {
        .widget.project-message {
          a.preview {
            top: 205px;
          }
        }
      }

      //サブナビ　＞　スキル・物品の募集
      &.messages {
        //メッセージ送信
        .widget.project-message {
          margin-bottom: 0;
        }
        //メッセージ表示
        .widget.project-messages {
          padding-top: 0;
        }
        //スキルマッチング -> 問い合わせ掲示板　の、メッセージ欄
        #message-text {
          clear: right;
          float: right;
          width: 85%;
          margin-bottom: 20px;
        }
      }

      //サブナビ　＞　？
      &.profile {
        .widget:last-child {
          margin-bottom: 0!important;
          border-bottom: 1px dashed $grayCol01;
        }
      }

      //活動報告
      &.updates {
        .project-updates {
          background: none;
          margin-bottom: 12px;
          padding: 0;
          .widget.post {
            background-color: $baseWhite;
            padding: 12px 16px;
          }
          h3.title {
            font-weight: 400;
            margin: 12px 20px;
            padding-left: 0;
          }
          .widget.blog-comment {
            padding: 0 16px 20px;
            h3.title {
              font-size: 16px;
              font-weight: 600;
              margin: 12px 0;
            }
          }
          .blog-share {
            padding-top: 20px;
            .social_bookmark {
              margin-bottom: 12px;
              margin-left: 0;
              position: relative;
            }
          }
          > p {
            padding: 0 10px;
          }
        }
      }

      //サブナビ　＞　支援者
      &.supporters {

        //支援・支援完了時に出るメッセージバルーンのウィジェット
        .invest-message {
          position: relative;
          background-color: #FFF!important;
          min-height:70px;
          padding: 20px 15px ;
          margin: 0 0 20px 0;
          overflow: visible;
          &:after{
            content: '';
            position: absolute;
            bottom: -20px;
            left: 40px;
            display: block;
            width: 0;
            height: 0;
            border: 10px solid transparent;
            border-top: 10px solid #FFF;
          }
          h2 {
            margin:0!important;
            span {
              color: #000;
              &.message {
                color: $grayCol03!important;
                font-size: .9em!important;
                font-weight: 400!important;
                padding: 0;
                text-transform: none!important;
              }
            }
            .avatar {
              @include circleAvatar(30px);
              float: left;
              margin-right: 20px;
            }
          }
        }

      }

      form div.widget {
        margin: 0 auto;
        clear: left;
        background-color: $baseWhite;
      }
    }

  }



  .widget.project-spread{
    .obtained {
      display: none;
    }
  }

  //プロジェクト詳細　＞　
  .widget.project-support {
    .meter {
      &.skillmatching {
        padding-bottom: 28px;
      }
    }
    .invest-notice {
      margin: 5px 16px 0;
      border: $solidBorder;
      border-radius: 3px;
      padding: 4px;
    }
  }

  //
  .widget.project-invest {
    .disabled {
      color: $grayCol01;
    }
  }
  #pagination{
    float: none;
    margin: 12px 0 0 0;
    zoom: 1;
    &:after{
      content: '';
      display: block;
      clear: both;
    }
  }
}
