body.review div {
  &#main {
    overflow: visible;
  }
  &#sub-header {
    padding-bottom: 4em;
    margin-bottom: 0;
  }
  &#review-menu {
    display: block;
    max-width: 940px;
    font-size: 13px;
    margin: -2.6em auto 0;
    background-color: #78d1d1;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      position: relative;
      li {
        display: inline-block;
        color: white;
        text-decoration: none;
        a {
          color: white;
          text-decoration: none;
          padding: .6em 1em;
          height: 1.4em;
          line-height: 1.4em;
          display: inline-block;
        }
        &.section {
          ul {
            display: none;
          }
          &.current ul {
            display: block;
          }
          &.active {
            margin-bottom: 2.6em;
          }
          &.current {
            margin-bottom: 2.6em;
            ul {
              display: block;
              position: absolute;
              bottom: 0;
              left: 0;
              height: 2.6em;
              right: 0;
              z-index: 0;
            }
          }
          &.active {
            ul {
              display: block;
              position: absolute;
              bottom: 0;
              left: 0;
              height: 2.6em;
              right: 0;
              z-index: 9;
              background-color: $grayCol02;
            }
            background-color: $grayCol02;
          }
          &.current {
            background-color: $grayCol02;
            ul {
              background-color: $grayCol02;
            }
          }
        }
      }
    }
  }
  &#main div.widget {
    margin-bottom: 20px;
  }
}