/*----------------------------------------------------------------------
  meter.css
----------------------------------------------------------------------*/
.meter{
  margin: 0 16px;
  padding: 4px 0 148px;
  position: relative;
  height: 20px;

  h3.title.obtained {
    display:none;
    padding-left: 5px;
  }
  h3.title.investment{
    color:#336633;
  }

  div.graph {
    background-color: #BCCCD8;
    height: 12px;
    margin: 24px 0 0;
    position: relative;

    * strong,
    * span {
      display: none;
    }
    .minimum {
      background-color: #dc940f;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      .done {
        background-color: #c5da4d;
        height: 12px;
        left: 0;
        max-width: 288px;
        position: absolute;
        top: 0;
        strong {
          background: url("/view/m/images/project/widget/project/marker_sp.png") no-repeat;
          display: block;
          height: 16px;
          line-height: 2000px;
          margin-right: -10px;
          margin-top: -5px;
          overflow: hidden;
          position: absolute;
          right: 0;
          text-indent: 2000px;
          width: 17px;
        }
      }
      .left {
        float: right;
        height: 19px;
        margin-right: -2px;
        margin-top: -6px;
      }
    }
  }

  span.percent {
    color: #a7a9ac;
    font-size: 26px;
    font-weight: bold;
    padding-left: 15px;
  }

  /*dl {
    margin: 16px 0 0 0;
    position: relative;
    * {
      margin: 0;
    }
    .minimum {
      min-width: 10%;
    }
    .optimum,
    .minimum {
      display: block;
      white-space: nowrap;
    }
    dt, dd {
      height: 30px;
      position: absolute;
      text-align: center;
      width: 33.3%;
    }
    dt {
      font-size: 11px;
      top: 0;
      &.minimum {
        color: #cc6600;
        left: 0;
        top: 0;
      }
      &.optimum {
        color: #6699cc;
        left: 33.3%;
        top: 0;
      }
      &.percent {
        right: 0;
        top: 56px;
      }
      &.percent {
        color: #666600;
      }
    }
    dd {
      border-bottom: 1px solid $grayCol01;
      box-sizing: content-box;
      font-size: 12px;
      padding-top: 30px;
      &.minimum {
        border-right: 1px solid $grayCol01;
        color: #cc6600;
        left: 0;
        top: -16px;
      }
      &.optimum {
        border-right: 1px solid $grayCol01;
        color: #6699cc;
        left: 33.3%;
        top: -16px;
      }
      &.minimum,
      &.optimum {
        span {
          font-size: 11px;
          font-weight: normal;
        }
      }
      &.percent {
        font-weight: normal;
        right: 0;
        top: 40px;
      }
    }
  }*/
  dl.reached-bar {
    margin-bottom: 14px;
    .reached {
      color: #000;
      display: inline-block;
    }
    dt.reached {
      font-size: 14px;
      font-weight: 300;
      padding-top: 0;
    }
    .supporters {
      display:none;
    }
  }

  dl.amount-bar {
    margin: 0 0 20px;
    position:relative;
    .optimum,
    .minimum {
      display: inline-block;
      line-height: 1.8;
    }
    dt, dd {
      &.optimum {
        color: #69c;
      }
      &.minimum {
        color: #c60;
      }
      &.reached {
        margin-top: 16px;
      }
    }
    dt {
      &.optimum,
      &.minimum {
        width: 110px;
      }
    }
    dd {
      &.optimum,
      &.minimum {
        width: 130px;
      }
      &.days {
        width: 118px;
        strong {
          color: #82656f;
        }
      }
    }
  }
  h2, h3, h4, h5, h6 {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 2px 0 0;
  }

  &.activable {
    padding-left: 16px;
    padding-right: 16px;
    width: 90vw;
    z-index: 999;
  }

  &.skillmatching {
    padding: 4px 0 78px;
    dl.amount-bar {
      dt, dd {
        height: 30px;
        width: 50%;
      }
      dt {
        &.days {
          padding-top: 5px;
          right: 0;
          top: 0;
        }
        &.supporters {
          left: 0;
          padding-top: 5px;
          top: 0;
        }
      }
      dd {
        &.days {
          border-top: 1px solid $grayCol01;
          top: 0;
        }
        &.supporters {
          border-top: 1px solid $grayCol01;
          left: 0;
          top: 0;
        }
      }
    }
  }

}
