/*----------------------------------------------------------------------
  meter.css
----------------------------------------------------------------------*/
.meter{
  padding: 4px 0 148px !important;
  position: relative;
  height: 20px;

  h3.title.obtained {
    display:none;
    padding-left: 5px;
  }
  h3.title.investment{
    color:#336633;
  }

  div.graph {
    background-color: #BCCCD8;
    height: 12px;
    margin: 24px 0 0;
    position: relative;
    border-right: 40px solid #dcdcdc; //todo:この指定いらないかも

    * strong,
    * span {
      display: none;
    }
    .minimum {
      background-color: #dc940f;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      .done {
        background-color: #c5da4d;
        height: 12px;
        max-width: 288px;
        position: absolute;
        left: 0;
        top: 0;
        strong {
          background: url("/view/m/images/project/widget/project/marker_sp.png") no-repeat;
          display: block;
          height: 16px;
          line-height: 2000px;
          margin-right: -10px;
          margin-top: -5px;
          overflow: hidden;
          position: absolute;
          right: 0;
          text-indent: 2000px;
          width: 17px;
        }
      }
      .left {
        float: right;
        height: 19px;
        margin-right: -2px;
        margin-top: -6px;
      }
    }
  }

  span.percent {
    font-size: 26px;
    font-weight: bold;
    color: #a7a9ac;
    padding-left: 15px;
  }

  dl {
    position: relative;
    margin: 16px 0 0 0;
    * {
      margin: 0;
    }
    .minimum {
      min-width: 10%;
    }
    .optimum,
    .minimum {
      display: block;
      white-space: nowrap;
    }
    dt, dd {
      position: absolute;
      width: 33.3% !important;
      height: 30px !important;
      text-align: center;
    }
    dt {
      top: 0;
      font-size: 11px;
      &.minimum {
        top: 0;
        left: 0;
        color: #cc6600;
      }
      &.optimum {
        top: 0;
        left: 33.3%;
        color: #6699cc;
      }
      &.days {
        top: 0;
        right: 0;
      }
      &.reached {
        top: 56px;
        left: 0;
      }
      &.supporters {
        top: 56px;
        left: 33.3%;
      }
      &.percent {
        top: 56px;
        right: 0;
      }
      &.days,
      &.reached,
      &.supporters,
      &.percent {
        color: #666600;
      }
    }
    dd {
      padding-top: 30px;
      font-size: 12px;
      border-bottom: 1px solid #eee;
      &.minimum {
        top: -16px;
        left: 0;
        color: #cc6600;
        border-right: 1px solid #eee;
      }
      &.optimum {
        top: -16px;
        left: 33.3%;
        color: #6699cc;
        border-right: 1px solid #eee;
      }
      &.days {
        top: -16px;
        right: 0;
        strong {
          color: #996666;
        }
      }
      &.minimum span, &.optimum span, &.days span, &.reached span, &.supporters span {
        font-size: 11px;
        font-weight: normal;
      }
      &.reached {
        top: 40px;
        left: 0;
        font-weight: normal;
        border-right: 1px solid #eee;
      }
      &.supporters {
        top: 40px;
        left: 33.3%;
        font-weight: normal;
        border-right: 1px solid #eee;
        strong {
          color: #990000;
        }
      }
      &.percent {
        top: 40px;
        right: 0;
        font-weight: normal;
      }
    }
  }

  h2, h3, h4, h5, h6 {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 0 0;
  }
  > h3.ronda {
    color: #999900;
    position: absolute;
    top: 4px;
    right: 16px;
    text-transform: lowercase;
  }

  &.hor{
    div.graph{
      .minimum{
        .done {
          max-width: 278px;
        }
      }
    }
  }

  &.activable {
    z-index: 999;
    padding-left: 16px !important;
    padding-right: 16px !important;
    width: 90vw;
  }

  &.skillmatching {
    padding: 4px 0 78px !important;
    dl {
      dt, dd {
        width: 50% !important;
        height: 30px !important;
      }
      dt {
        &.days {
          top: 0;
          right: 0;
          padding-top: 5px;
        }
        &.supporters {
          top: 0;
          left: 0;
          padding-top: 5px;
        }
      }
      dd {
        &.days {
          top: 0;
          border-top: 1px solid #eee;
        }
      }
    }
  }

}
