.widget{

  .title {
    font-size: 18px;
    font-weight: bold;
    padding-left: 6px;
    text-decoration: none;
  }
  h3.title {
    background-color: #666666;
    color: #f5f5f5;
    font-weight: normal;
    margin: 0;
  }
  .supertitle {
    background-color: #21b0b0;
    color: #f5f5f5;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding: .5em 2px .5em 8px;
  }
  h4.supertitle, h3.supertitle {
    color: #ffffff;
    height: 40px;
    line-height: 40px;
    padding: 0;
    padding-left: 20px;
  }
  a.more {
    float: none;
    display: block;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
  }


  &.projects #widget-code {
    width: 350px;
    float: left;
    margin: 0 0 0 20px;
    .wc-embed {
      background: url("/view/m/images/social/embed.png") no-repeat;
      min-height: 20px;
      padding: 3px 0 0 25px;
    }
    textarea {
      width: 200px;
      height: 130px;
      margin: 10px 0;
      padding: 10px;
      background: #E7E7E7;
      border: none;
      font-size: 12px;
      resize: none;
    }
  }



  //プロジェクトウィジェット（一覧などのコンパクトにまとまったウィジェット）
  &.projects{
    .discover-group {
      .image {
        margin-bottom: 0;
      }
      h3 {
        &.title {
          margin: 0;
          padding: 16px 16px 0;
          a {
            font-size: 18px;
            color: #0098c4;
          }
        }
        //todo: プロジェクトウィジェットからround表示を消す予定、実装から消したら削除
        &.ronda {
          padding-top: 0;
        }
      }
    }
    > .title {
      background-color: #666666;
      color: #f5f5f5;
      margin: 0;
      padding: 16px;
    }
    .project {
      background-color: #fff;
      margin: 0 auto;
      overflow: hidden;
      padding: 0;
      position:relative;
      z-index:98;
      a.expand{
        padding: 0;
        position:absolute;
        top:0;bottom:0;left:0;right:0;
        width:100%;
        z-index:99;
      }
      a.button{
        padding: 0.4em 1em !important;
      }
    }

    > .more {
      clear: both;
      text-align: right;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    > .widget-title {
      padding: 0 0 0 30px;
    }

    > .widget-porject-legend {
      margin: 0 0 20px 30px;
      text-transform:uppercase;
    }

    > .project-code {
      float: left;
      height: auto;
      margin-left: 45px;
      overflow: auto;
      width: auto;
    }

    > #widget-code  {
      float:left;
      margin: 0 0 0 20px;
      width:350px;
      .wc-embed  {
        background: url("/view/m/images/social/embed.png") no-repeat;
        height:20px;
        padding: 3px 0 0 25px;
        text-transform:uppercase;
      }
      textarea  {
        background:#E7E7E7;
        border:none;
        font-size:12px;
        margin: 10px 0;
        padding:10px;
        resize:none;
        width:200px;
      }
    }
  }

  //
  &.project{
    overflow: visible;
    position: relative;
    > * {
      margin: 0;
      padding: 12px;
    }

    &.active{
      div.image {
        opacity: 0.85;
      }

      > .title a {
        color: #c5da4d !important;
      }
    }

    .image {
      background-color: #deddde;
      margin: 0 0 10px 0;
      min-height: 180px;
      overflow: hidden;
      padding: 0 !important;
      position: relative;
      text-align: center;
      width: 100%;
      a img {
        display: block;
        width: 100vw;
        height: auto;
      }

      span.cf-icon {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 60px;
        height: 60px;
        background-image: url('/view/m/images/lg-project-cf.png');
        background-size:60px 60px;
      }

      span.sm-icon {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 60px;
        height: 60px;
        background-image: url('/view/m/images/lg-project-sm.png');
        background-size: 60px 60px;
      }

      .investor {
        position: absolute;
        z-index: 899;
        background-color: #f3f3f3;
        margin-top: 70px;
        margin-left: 3px;
        img {
          width: 34px !important;
          height: 34px !important;
          margin: 3px;
          float: left;
        }

        .invest {
          text-align: left;
          font-size: 12px;
          line-height: 9px;
          color: #faf8f8;
          float: left;
          padding-top: 12px;
          padding-left: 2px;
          padding-right: 4px;
          span.amount {
            color: #cc6600;
            font-weight: bold;
            font-size: 16px;
            line-height: 18px;
            padding-right: 19px;
          }
        }
      }

      .categories {
        text-align: left;
        color: #ffffff;
        background-color: rgba(25,181,179,0.8);
        font-size: 0.8em;
        padding: 2px 8px;
        cursor: default;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
      }
    }

    > .title {
      font-size: 14px;
      padding: 0;
      margin: 10px;
      a {
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        position: relative;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 900;
        &:hover{
          color: #c5da4d;
        }
      }
    }

    .title {
      background: none;
    }

    .balloon {
      background: #cae4e6 url('/view/m/images/balloonbeak.png') no-repeat bottom left;
      height: auto;
      > .title a {
        position:relative;
        z-index:99;
        line-height: 1.5em;
        font-size: 18px;
        color: #0098c4
      }
      > blockquote {
        font-size: 12px;
        margin: 0;
        overflow: hidden;
        padding-bottom: 10px;
      }
      > h4 {
        font-size:  14px;
        font-weight: bold;
        margin: 0 0 .5em;
        padding: 0;
      }
    }

    > .author {
      padding: 2px 0 0 12px;
      overflow:hidden;
    }

    > .author,
    > .author a {
      font-weight: bold;
      font-size: 12px;
      text-decoration: none;
      text-transform: none;
      position:relative;
      z-index:100;
    }

    .description {
      padding: 2px 12px;
      font-size: 12px;
    }

    .skills {
      line-height: 16px;
      a {
        font-size: 11px;
      }
    }
    .meter{
      &.activable {
        padding-left: 16px!important;
        padding-right: 16px!important;
      }
      dl.amount-bar {
        display: none;
      }

    }

    div.rewards{
      h2, h3, h4, h5, h6 {
        margin: 0;
        line-height: 22px;
        float: left;
        width: 70px;
        font-size: 12px;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        position: relative;
        z-index: 910;
        li {
          display: inline-block;
          margin-right: 3px;
          width: 22px;
          height: 22px;
          line-height: 2000px;
          text-indent: 2000px;
          overflow: hidden;
          background-image: url('/view/m/images/icon/s/blank.png');
          opacity:0.60;
          &.active {
            opacity: 1 !important;
          }
          a {
            display: block;
            width: 21px;
            height: 21px;
            line-height: 2000px;
            text-indent: 2000px;
            position: relative;
            z-index: 910;
          }
          &.food  {
            background-image: url('/view/m/images/icon/s/food.png');
          }
          &.file  {
            background-image: url('/view/m/images/icon/s/file.png');
          }
          &.money {
            background-image: url('/view/m/images/icon/s/money.png');
          }
          &.code {
            background-image: url('/view/m/images/icon/s/code.png');
          }
          &.service {
            background-image: url('/view/m/images/icon/s/service.png');
          }
          &.manual  {
            background-image: url('/view/m/images/icon/s/manual.png');
          }
          &.product {
            background-image: url('/view/m/images/icon/s/product.png');
          }
          &.design {
            background-image: url('/view/m/images/icon/s/design.png');
          }
          &.other {
            background-image: url('/view/m/images/icon/s/other.png');
          }
        }
      }
    }
    div.buttons {
      padding-top: 10px !important;
      a.button {
        margin: 0;
        padding-top: 0 !important;
        position: relative;
        z-index: 900;
      }
      .button{
        + .button {
          float: right;
        }
      }
    }
    div.graph .optimum, &.project-support div.graph > div.optimum {
      height: 19px;
      margin-right: -2px;
      position: absolute;
      right: 0;
      margin-top: -6px;
    }
  }

  //支援（グラフ）
  &.project-support {
    .meter {
      &.ver div.graph .minimum .done {
        background-color: #c5da4d;
        height: 12px;
        max-width: 288px;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    div.graph {
      background-color: #BCCCD8;
      height: 12px;
      margin: 24px 0 0;
      position: relative;
      > div.minimum > div.done strong {
        background: url("/view/m/images/project/widget/project/marker_sp.png") no-repeat;
        display: block;
        height: 16px;
        line-height: 2000px;
        margin-right: -10px;
        margin-top: -5px;
        overflow: hidden;
        position: absolute;
        right: 0;
        text-indent: 2000px;
        width: 17px;
      }
      .minimum .left {
        float: right;
        height: 19px;
        margin-right: -2px;
        margin-top: -6px;
      }
    }
    dl {
      position: relative;
      margin: 16px 0 0 0;
      * {
        margin: 0;
      }
      .optimum,
      .minimum {
        display: block;
        white-space: nowrap;
      }
    }
  }


  //プロジェクト概要
  &.project-summary{
    background-color: #fff;
    padding: 20px 16px;
    h1, h2, h3, h4, h5, h6 {
      font-weight: 600;
      line-height: 1.3em;
      margin-top: 0;
      text-transform: none;
    }
    h1, h2 {
      font-size: 20px;
      font-weight: normal;
    }
    h4 {
      font-size: 18px;
    }
    h5, h6 {
      font-size: 16px;
    }
    > div {
      margin-bottom: 1em;
      font-size: 14px;
    }
    &.h_ttl {
      border-bottom: none;
      h3 {
        margin: 0 0 15px 0;
        font-size: 18px;
        font-weight: 300;
        //color: $grayCol03;
      }
      .project-subtitle,
      .wants-skills,
      .wants-skills a,
      .categories > h3,
      .categories > a {
        font-size: 11px;
      }
      .wants-skills {
        margin-bottom: 8px;
      }
      .categories {
        h3 {
          display: none;
        }
        a {
          background: url('/view/m/images/icon_tag@2x.png') no-repeat left 50% / 12px;
          color: #58595B;
          display: inline-block;
          padding-left: 16px;
          text-decoration: none;
          &:hover {
            color: #20B3B2;
          }
        }
      }
    }
    > div {
      font-size: 14px;
      margin-bottom: 1em;
    }
    > .wants-skills .matched_skill {
      background-color:#f99;
      font-size: 11px;
    }
    img {
      height: auto;
      width: 100% !important;
    }
    .description {
      margin: 0 0 20px 0;
    }

    .about,
    .motivation,
    .goal,
    .related {
      margin: 0 0 10px 0;
      h4 {
        font-size: 16px;
        margin: 0 0 1em 0;
        padding: 0;
      }
    }
  }

  //支援するボタンウィジェット
  &.project-support_btn {
    background-color: #fff;
    border-bottom: $solidBorder;
    padding: 40px 0;
    a.button {
      background: none;
      background: #ff9900;
      -moz-box-shadow: 0 3px 3px 0 #ccc;
      -webkit-box-shadow: 0 3px 3px 0 #ccc;
      box-shadow: 0 3px 3px 0 #ccc;
      display: block;
      font-size: 14px;
      font-weight: 300;
      height: 45px;
      line-height: 45px;
      margin: 10px auto;
      padding: 0 8px;
      text-align: center;
      width: 280px;
    }
  }

  //シェアウィジェット
  &.project-share {
    padding: 26px 20px 50px;
    position: relative;
    .title {
      border:none;
      margin: 0 0 26px;
      text-align: center;
    }
    .social_bookmark {
      left: 0;
      margin: auto;
      max-width: 500px;
      top: 75px;
      width: 340px;
    }
  }

  //オーナーウィジェット
  &.user {
    margin-bottom: 20px;
    padding: 0;
    .supertitle {
      display: none;
    }
    .project-widget-box {
      padding: 15px 20px;
    }
    .user-head {
      margin-bottom: 20px;
      .image {
        @include circleAvatar(65px);
      }
      &-right {
        display: inline-block;
        padding-left: 20px;
        vertical-align: middle;
        width: 200px;
        .title {
          margin: 0 0 4px;
        }
        .location {
          background: url(/view/images/location/s.png) no-repeat left center;
          padding-left: 18px;
          a {
            color: #9b9b9b;
            text-decoration: none;
          }
        }
      }
    }
    .about {
      p {
        line-height: 1.5;
        margin: 0 0 20px;
        padding: 0 2px;
      }
      &-link {
        margin-bottom: 20px;
        text-align: right;
        a {
          color: $colLinkText01;
          display: inline-block;
          font-size: 14px;
          line-height: 20px;
          text-decoration: none;
          &:after {
            background: url(/view/images/arrow_user_link.png) no-repeat right 50%;
            content: '';
            display: inline-block;
            height: 8px;
            padding: 0 0 4px 4px;
            width: 6px;
          }
        }
      }
    }
    .links {
      line-height: 36px;
      margin: 0 0 14px 0;
      padding: 1em 0;
      padding-bottom: 0;
      padding-top: 0;
      ul {
        line-height: 18px;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        a {
          font-size: 14px;
          font-weight: 600;
          text-decoration: none;
          word-wrap: break-word;
        }
      }
      &.message {
        background: url(/view/images/bocadillo/s.png) no-repeat left center;
        padding-left: 22px;
        text-decoration: none;
        text-indent: .5em;
        a {
          color: #28B258;
          font-size: 14px;
          font-weight: 600;
          text-decoration: none;
        }
      }
    }
    .widget.user-social {
      margin-bottom: 30px;
      padding: 0;
      .title {
        display: none;
      }
      ul {
        list-style:none;
        margin:0;
        overflow:visible;
        padding:0;
        li {
          display:block;
          float:left;
          margin-right: 10px;
          a {
            background:no-repeat left center;
            display: inline-block;
            text-indent: -99999px;
            width: 20px;
            height: 20px;
          }
          &.facebook {
            a {
              background-image:url(/view/images/social/facebook.png);
            }
          }
          &.google {
            a {
              background-image:url(/view/images/social/google.png);
            }
          }
          &.twitter {
            a {
              background-image:url(/view/images/social/twitter.png);
            }
          }
          &.identica {
            a {
              background-image:url(/view/images/social/identica.png);
            }
          }
          &.linkedin {
            a {
              background-image:url(/view/images/social/linkedin.png);
            }
          }
        }
      }
    }
  }

  //スキル・物品ウィジェット
  &.project-collaborations {
    h4.supertitle {
      background-color: #33cc99;
    }
    h5.title {
      margin-top: 0;
      margin-bottom: 0;
      color: #58595b;
      font-weight: bolder;
    }
    ul {
      margin: 0 0 1em;
      padding: 0;
      list-style: none;
      li {
        background: none no-repeat left top;
        padding-left: 45px;
        min-height: 32px;
        line-height: 32px;
        &.task {
          background-image: url('/view/m/images/icon/m/task.png');
        }
        &.lend {
          background-image: url('/view/m/images/icon/m/lend.png');
        }
        > p {
          margin:  0;
          line-height: 1.7em;
        }
      }
    }
    a.button {
      display: block;
      width: 200px;
      height: 50px;
      margin: 0 auto;
      padding: 0;
      background: none;
      background: #66cc99; /* Old browsers */
      background: -moz-linear-gradient(top,  #66cc99 0%, #339966 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#66cc99), color-stop(100%,#339966)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #66cc99 0%,#339966 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #66cc99 0%,#339966 100%); /* Opera 11.10+ */
      background: linear-gradient(to bottom,  #66cc99 0%,#339966 100%); /* W3C */
      font-size: 12px;
      line-height: 50px;
    }
  }

  //メッセージ送信ウィジェット
  &.project-message {
    position:relative;
    max-width:580px;
    form {
      overflow: hidden;
      padding: 16px;
    }
    div#bocadillo{
      float: left;
      width: 34px;
      height: 50px;
      margin-top: 8px;
      background:url('/view/m/images/bocadillo.jpg') no-repeat;
    }
    button{
      float:right;
      width: 240px;
      margin-top: 6px;
      margin-bottom: 0;
      font-style: normal;
      font-weight: normal;
    }
    textarea {
      clear: right;
      display: block;
      float: right;
      width: 240px;
      height: 50px;
      margin-top: 8px;
      padding: 0.3em 0;
      resize:none;
      background-color: #DCEEDF;
      border: 1px solid #2EAB58;
    }
    a.preview{
      display: inline-block;
      position: absolute;
      top: 178px;
      left: 48px;
      height: 38px;
      line-height: 38px;
      color: #2EAB58;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: normal;
      font-style: normal;
    }
    .button {
      float: right;
      margin: 1em 0 0;
    }
  }

  //メッセージ表示ウィジェット
  &.project-messages {
    #project-messages {
      padding: 16px;
    }
    div.message {
      background: #e7e7e7 url('/view/m/images/message/beak/1.png') no-repeat left top;
      margin-left: 50px;
      overflow: visible;
      position: relative;
      padding: .8em 1em .5em 1.5em;
    }
    div.child{
      background: #e7e7e7 url('/view/m/images/message/beak/1.png') no-repeat left top;
      margin-left: 90px;
      padding: .8em 1em .8em 1.5em;
      overflow: visible;
      position: relative;
    }
    div.owner {
      background: #e9f4ea url('/view/m/images/message/beak/2.png') no-repeat left top !important;
    }
    div.message + div.message,
    div.child + div.message,
    div.child {
      margin-top: 20px;
    }
    div.message,
    div.child {
      .avatar {
        position: absolute;
        left: -50px;
        top: 0;
        display: block;
        width: 50px;
        height: 50px;
        text-align: right;
      }
      .user {
        text-transform: none;
        font-size: 14px;
        font-weight: bold;
        margin: 0 0 1em;
        float: left;
      }
      .date {
        float: right;
        color: #808080;
        font-size: 12px;
      }
      blockquote {
        margin: 0;
        padding: 0;
        clear: both;
      }
      .actions {
        margin-top: 1em;
        border-top: 1px solid #c8c8c8;
        padding-top: .4em;
        a {
          color: #808080;
          font-size: 12px;
          text-decoration: none;
          &:hover {
            color: #58595b;
          }
        }
      }
      h3.user a{
        text-decoration:none;
        &:hover{
          color:#20B3B2;
        }
      }
    }
  }

  //お礼・公共リターン //todo: .sideでしか使われていないため、不要になる予定
  /*&.project-rewards {
    div.social,
    div.individual,
    .project-rewards-summary div.individual {
      padding: 15px 20px;
      border-bottom: 1px dashed #c0c0c0;
      background-color: #fff;
    }
    .project-rewards-summary h3.supertitle,
    div.widget.project-rewards h4.supertitle {
      background-color: #ff9933;
    }
  }*/

  //お礼・公共リターン //todo: .centerだけで使用している、こちらがメイン。
  &.project-rewards-summary {
    h3.supertitle{
      background-color: #ff9933;
      font-size: 15px;
    }
    div.individual {
      background-color: #fff;
      border-bottom: 1px dashed #c0c0c0;
      padding: 15px 20px;
      h4.title {
        color: #96238F !important;
        margin: 8px 0 0;
        padding-left: 0;
      }
      ul {
        li{
          &.service {
            background-image: url('/view/m/images/icon/m/service.png');
          }
          &.other {
            background-image: url('/view/m/images/icon/m/other.png');
            background-position: 0.8em 3em;
          }
          div.amount {
            color: #96238F;
            height: 28px;
            margin-left: 40px;
            position: relative;
            right: -10px;
            text-align: right;
            top: 0;
            span.euro {
              background-color: #e7e7e7;
              border-right: #e7e7e7 solid 5px;
              display: inline-block;
              font-size: 14px;
              font-weight: bold;
              line-height: 28px;
              margin: 0 0 0 2px;
              padding-left: 8px;
              padding-right: 20px;
            }
          }
        }
      }
    }
    div.social {
      background-color: #fff;
      border-bottom: 1px dashed #c0c0c0;
      padding: 15px 20px;
      h4.title {
        color: #28b258 !important;
        margin: 8px 0 0;
        padding-left: 0;
      }
      ul {
        margin-top: 0;
        li {
          &.active {
            background-color: #d5ebd7;
          }
          &.money {
            h4.name {
              line-height: 1em;
            }
          }
          &.file {
            h5.name {
              background: url('/view/m/images/icon/m/file.png') no-repeat left 50%;
              font-size: 13px;
              font-weight: bold;
              margin: 0 0 .4em;
              text-transform: none;
            }
          }
          &.service {
            h5.name {
              background: url('/view/m/images/icon/m/service.png') no-repeat left 50%;
            }
          }
          &.service,
          &.file {
            > h5.name {
              padding-left: 42px;
              padding-top: 0;
              margin-bottom: .4em;
            }
          }
          span.name{
            font-size: 13px;
            font-weight: bold;
            margin: 0 0 .4em;
          }
          span.taken {
            border: #313B96 1px solid;
            color: #313B96;
            margin-left: 6px;
            margin-right: 5px;
            padding: 2px 6px;
          }
          span.left {
            color: #EE4843;
            font-weight: bold;
          }
          div.investors {
            color: #313B96;
            padding: 2px 6px 2px 3px;
            margin-top: 10px;
          }
        }
      }
    }
    a.button {
      background: linear-gradient(to bottom, #f2bb67 0%,#ff9900 100%);
      display: block;
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2bb67', endColorstr='#ff9900',GradientType=0 );
      font-size: 14px;
      margin: 10px auto;
      padding-left: 8px!important;
      padding-right: 8px!important;
      width: 182px;
    }
    ul {
      list-style: none;
      margin: 0.5em 0 0;
      padding: 0;
      li {
        background: none no-repeat 5px 5px;
        font-size: 12px;
        min-height: 33px;
        padding: 10px 10px 0 0;
        &.money {
          background-image: url('/view/m/images/icon/m/money.png');
          background-position: 0.8em 3em;
        }
        &.code {
          background-image: url('/view/m/images/icon/m/code.png');
        }
        &.manual {
          background-image: url('/view/m/images/icon/m/manual.png');
        }
        &.product {
          background-image: url('/view/m/images/icon/m/product.png');
          background-position: 10px 10px;
        }
        &.design {
          background-image: url('/view/m/images/icon/m/design.png');
        }
        &.food {
          background-image: url('/view/m/images/icon/m/food.png');
        }
        &.other {
          background-image: url('/view/m/images/icon/m/other.png');
        }
        .name {
          min-height: 33px;
          padding-left: 40px;
        }
        h5.name {
          font-size: 13px;
          font-weight: bold;
          margin: 0 0 .5em;
          padding: 0 0 0 42px;
        }
        > p {
          margin:  0 0 1em;
        }
        div.license {
          font-size: 12px;
          h4, h5, h6 {
            border-bottom: 1px dashed #c8c8c8;
            font-size: 12px;
            font-weight: bold;
            margin: .5em 0 .6em;
            padding: 0 0 .2em;
            text-transform: none;
          }
          h6 {
            font-size: 14px;
          }
          p {
            margin: .2em 0;
          }
          a {
            text-decoration: none;
          }
          > a strong {
            background: url("/view/m/images/license/license.png") no-repeat left 4px;
            display: block;
            padding-top: 40px;
          }

          &.agpl > a strong {
            background-image: url('/view/m/images/license/agpl.png');
          }
          &.apache > a strong {
            background-image: url('/view/m/images/license/apache.png');
          }
          &.balloon > a strong {
            background-image: url('/view/m/images/license/balloon.png');
          }
          &.bsd > a strong {
            background-image: url('/view/m/images/license/bsd.png');
          }
          &.cc0 > a strong {
            background-image: url('/view/m/images/license/cc0.png');
          }
          &.ccby > a strong {
            background-image: url('/view/m/images/license/ccby.png');
          }
          &.ccbync > a strong {
            background-image: url('/view/m/images/license/ccbync.png');
          }
          &.ccbyncnd > a strong {
            background-image: url('/view/m/images/license/ccbyncnd.png');
          }
          &.ccbyncsa > a strong {
            background-image: url('/view/m/images/license/ccbyncsa.png');
          }
          &.ccbynd > a strong {
            background-image: url('/view/m/images/license/ccbynd.png');
          }
          &.ccbysa > a strong {
            background-image: url('/view/m/images/license/ccbysa.png');
          }
          &.fal > a strong {
            background-image: url('/view/m/images/license/fal.png');
          }
          &.fdl > a strong {
            background-image: url('/view/m/images/license/fdl.png');
          }
          &.freebsd > a strong {
            background-image: url('/view/m/images/license/freebsd.png');
          }
          &.gpl > a strong {
            background-image: url('/view/m/images/license/gpl.png');
          }
          &.gpl2 > a strong {
            background-image: url('/view/m/images/license/gpl2.png');
          }
          &.lgpl > a strong {
            background-image: url('/view/m/images/license/lgpl.png');
          }
          &.mit > a strong {
            background-image: url('/view/m/images/license/mit.png');
          }
          &.mpl > a strong {
            background-image: url('/view/m/images/license/mpl.png');
          }
          &.odbl > a strong {
            background-image: url('/view/m/images/license/odbl.png');
          }
          &.odcby > a strong {
            background-image: url('/view/m/images/license/odcby.png');
          }
          &.oshw > a strong {
            background-image: url('/view/m/images/license/oshw.png');
          }
          &.pd > a strong {
            background-image: url('/view/m/images/license/pd.png');
          }
          &.php > a strong {
            background-image: url('/view/m/images/license/php.png');
          }
          &.tapr > a strong {
            background-image: url('/view/m/images/license/tapr.png');
          }
          &.xoln > a strong {
            background-image: url('/view/m/images/license/xoln.png');
          }
        }
      }
    }
  }

  //資金の内訳ウィジェット
  &.project-needs {
    padding-left: 0;
    padding-right: 0;
    h4 {
      background-color: #666666;
      color: #f5f5f5;
      font-weight: normal;
      margin: 0;
    }
    div#legend{
      background-color: #ffffff;
      height: 70px;
      line-height: 70px;
      div.min,
      div.max {
        float:left;
        font-size: 13px;
        line-height:40px;
        span {
          display:block;
          float:left;
          height:18px;
          margin-right:5px;
          margin-top:10px;
          width:18px;
        }
      }
      div.min{
        margin-right:15px;
        span{
          border:#C1C1C1 1px solid;
          background:#F2F2F2;
        }      }
      div.min {
        span{
          background:#e3eadc;
          border:#999999 1px solid;
        }
      }
    }
    .summary {
      font-size: 18px;
      font-weight: bold;
      padding-left: 16px;
      text-transform: uppercase;
      text-align: left;
      width: 250px;
    }
    p.click {
      border-bottom: 2px solid #C1C1C1;
      margin-bottom: 8px;
      padding-left: 1em;
      padding-bottom: 8px;
      span.text {
        clear:left;
        font-size: 14px;
        font-weight: normal;
        margin: 3px 0 0 10px;
        padding: 0;
      }
    }
    dd.min,
    dd.max {
      font-size: 15px;
      text-align: right;
      vertical-align: top;
      width: 90px;
      word-wrap: break-word;
    }
    dd.min {
      color: #cc9900;
    }
    dd.max {
      color: #6699cc;
    }
    .req {
      background:#e3eadc;
    }
    .req,
    .noreq {
      padding-top: 16px;
      padding-bottom: 16px;
    }
    #legend {
      margin: 0;
      overflow: hidden;
      padding: 0 1em;
      .min,
      .max {
        float: left;
        height: 30px;
        line-height: 30px;
      }
      dt.min,
      dt.max {
        display: inline-block;
        font-size: 10px;
        line-height: 32px;
        margin-right: 4px;
        width: 60px;
      }
      dt.min {
        color: #cc6600;
      }
      dt.max {
        color: #6699cc;
      }
      dd.min,
      dd.max {
        margin: 0;
        width: 120px;
      }
      dd.min {
        margin-right: 16px;
      }
      dd.max {
        padding-right: 0;
      }
    }
    .req,
    .noreq {
      #legend {
        margin: 0 auto;
        width: 200px;
        .min,
        .max {
          height: 24px;
        }
      }
    }
    .structure #legend dd.min {
      margin-right: 0;
    }
    h5.summary {
      background: no-repeat 16px 50%;
      margin: 0;
      min-height: 32px;
      padding-left: 58px;
    }
    .task {
      h5.summary {
        background-image: url('/view/m/images/icon/m/task.png');
        display: table;
        font-size: 18px;
        margin: 0;
        span {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
    .structure {
      h5.summary {
        background-image: url('/view/m/images/icon/m/structure.png');
      }
    }
    .material {
      h5.summary {
        background-image: url('/view/m/images/icon/m/material.png');
      }
    }
    .lend {
      h5.summary {
        background-image: url('/view/m/images/icon/m/lend.png');
      }
    }
    ul {
      list-style: none;
      margin: 1em 0;
      padding: 0;
      li {
        background: none no-repeat left 5px;
        line-height: 32px;
        min-height: 32px;
        padding-left: 55px;
        &.task {
          background-image: url('/view/m/images/icon/m/task.png');
        }
        &.lend {
          background-image: url('/view/m/images/icon/m/lend.png');
        }
      }
    }
  }

  //スケジュールウィジェット
  &.project-schedule {
    padding-left: 0;
    padding-right: 0;
    table {
      border-collapse: separate;
      width: 100%;
      cursor: default !important;
      td,
      th {
        border: none;
        text-align: center;
        padding: .5em .1em;
        font-size: 12px;
        width: 1.5em;
      }
      thead {
        &.days,
        &.weeks {
          display: none;
        }
        &.months {
          tr th {
            font-weight: normal;
            font-size: 14px;
            span {
              color: #808285;
            }
          }
        }
        tr {
          > * {
            border-top: none;
          }
          th:last-child {
            border-right-width: 0;
          }
          th:first-child {
            display: none;
          }
        }
      }
      tbody {
        background: #f5f5f5;
        tr {
          border: solid #d3d3d3;
          border-width: 1px 0;
        }
        th,
        td {
          height: 5em;
          vertical-align: middle;
          padding: .5em;
        }
        th {
          display: none;
          strong {
            font-size: 13px;
            font-weight: bold;
            display: block;
            line-height: 13px;
            width: 22px;
          }
          span {
            display: none;
          }
        }
        td {
          span {
            font-size: 12px;
            font-weight: normal;
            text-align: center;
            height: 5em;
            overflow: hidden;
          }
          &.on {
            background-color: #d1edf1;
            text-align: left;
            padding: 1em;
            span {
              opacity: .75;
            }
            &.task {
              background: #d1edf1 url('/view/m/images/icon/s/task.png') no-repeat 10px center;
              padding-left: 38px;
            }
            &.material {
              background: #d1edf1 url('/view/m/images/icon/s/material.png') no-repeat 10px center;
              padding-left: 38px;
            }
            &.structure {
              background: #d1edf1 url("/view/m/images/icon/s/structure.png") no-repeat 10px center;
              padding-left: 38px;
            }
            &.req {
              background-color: #c7d8b6;
            }
            &.noreq {
              background-color: #e2e2e2;
            }
          }
        }
      }
    }
  }

  //支援者ウィジェット
  &.project-supporters {
    @include cf;
    background: transparent !important;
    max-width: 620px !important;
    padding: 0 !important;
    dl.summary {
      background-color: white;
      line-height: 30px;
      margin: 0 0 20px;
      overflow: hidden;
      padding: 20px;
      dt,
      dd {
        float: left;
        height: 1.5em;
        line-height: 1.5em;
        margin: 0;
      }
      dt {
        font-size: 12px;
        text-transform: uppercase;
        &.reached {
          margin-top: -1.5em;
          color: #666633;
        }
      }
      dd {
        font-size: 28px;
        font-weight: bold;
        &.supporters {
          clear: left;
        }
        &.reached {
          color: #990033;
        }
      }
      .supporters {
        width: 50%;
      }
    }
    .supporters {
      ul {
        background-color: #ffffff;
        overflow: hidden;
        list-style: none;
        margin: -20px 0 0 0;
        padding: 0;
        border-top: 1px dashed silver;
        li{
          background-color:  white;
          float: left;
          width: 33.3%;
          height:100px;
          position: relative;
          border-bottom: 1px dashed #c0c0c0;
          border-right: 1px dashed #c0c0c0;
          &:nth-child(3n+3) {
            width: 106px;
            border-right: none;
          }
          &.active {
            background-color:  #f3f3f3;
            h3, h4, h5, h6 {
              color: #20B3B2;
            }
          }
          a.expand {
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            text-decoration: none;
            z-index: 999;
          }
          > div.supporter {
            h4{
              padding-bottom:3px;
              border-bottom:#D5D5D6 1px solid;
              overflow:hidden;
              margin-bottom:6px;
              > a {
                max-height: 6px;
                max-width: 175px;
                overflow: hidden;
              }
            }
          }
          .avatar {
            width: auto;
            height: 44px;
            text-align: center;
            display: block;
            left:6px;
            padding-top:3px;
            img {
              background-color: white;
            }
          }
          h3, h4, h5, h6 {
            font-size: 12px;
            font-weight: bold;
            margin: 0 0 .5em;
            text-transform: none;
            a {
              font-size: 12px !important;
              text-transform: none !important;
              text-decoration: none;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              padding: 10px 10px 10px 70px;
              z-index: 9999;
              display: block;
            }
          }
          h4 {
            font-size: 16px;
            margin-top: 2px;
            margin-bottom: 2px;
            overflow: hidden;
            text-align: center;
            line-height: 16px;
            word-wrap: break-word;
          }
          a:hover {
            color: #20B3B2;
          }
          dl,
          dl dt,
          dl dd {
            margin: 0;
            font-size: 12px;
            text-align: center;
          }
          dl {
            dt {
              float: left;
              margin-left: 4px;
              margin-right: 4px;
              clear: left;
              &.amount {
                position: absolute;
                right: 16px;
                margin: 0;
                font-size: 12px;
                color: #666633;
                top: 8px

              }
              &.date {
                display: none;
              }
              &.worthcracy {
                display: none;
              }
              &.projects{
                font-size: 0.8em;
              }
            }
            dd {
              &.amount {
                position: absolute;
                right: 16px;
                width: 96px;
                font-weight: bold;
                color: #990033;
                padding-top: 2px;
                text-align: right;
                height: 25px;
                top: 28px;
                font-size:8px;
                line-height: 16px;
                strong {
                  font-size: 18px;
                  word-wrap: nowrap;
                }
              }
              &.date {
                position: absolute;
                bottom: 2px;
                color: #a6a8ab;
                font-size: 10px;
                margin-top: 5px;
                width: 100%;
                padding-left: 4px;
              }
              &.worthcracy {
                position: absolute;
                top: 28px;
                margin-top: 5px;
                ul {
                  padding: 0;
                  margin: 0;
                  list-style: none;
                  li {
                    display: inline-block;
                    width: 23px;
                    height: 6px;
                    overflow: visible;
                    background-color: #e7e7e7;
                    position: relative;
                    &.done.worth-1 {
                      background-color: #B6CAE0;
                    }
                    &.done.worth-2 {
                      background-color: #92AFD1;
                    }
                    &.done.worth-3 {
                      background-color: #799EC7;
                    }
                    &.done.worth-4 {
                      background-color: #3C71AE;
                    }
                    &.done.worth-5 {
                      background-color: #0C4E99;
                    }
                    > * {
                      display: none;
                    }
                    > strong {
                      display: block;
                      position: absolute;
                      top: 7px;
                      font-weight: normal;
                      width: 200px;
                      left: 50%;
                      margin-left: -100px;
                      text-align: center;
                      padding-top: 9px;
                      background: url('/view/m/images/worth/beak.png') no-repeat center top;
                    }
                  }
                }
              }
              &.projects{
                font-size: 0.8em;
              }
            }
          }
        }
      }
    }
    ul#pagination {
      margin-top: 10px;
      clear: both;
    }
  }

  //スキルマッチングで使用するウィジェット
  &.project-spread {
    > {
      h3.title {
        padding-left: 46px;
      }
      div.widget.projects > div {
        &.left {
          float: left;
          width: 280px;
          border-right: #000 1px solid;
        }
        &.right {
          float: left;
          width: 245px;
          margin-left: 12px;
        }
      }
    }
    div.subtitle {
      width: 245px;
      margin: 0 0 10px 7px;
      &#s1, &#s2 {}
      > span {
        display: block;
        &.primero {
          margin-bottom: 3px;
        }
        &.segundo {
          color: #28ACAB;
          font-weight: bold;
        }
      }
    }
  }

  //ブログ活動報告ウィジェット
  &.post {
    background-color: #fff;
    line-height: 18px;
    margin: 0 ;
    h4 {
      background-color: #666666;
      color: #f5f5f5;
      font-weight: normal;
      margin: 0;
      padding: 8px 0 8px 20px;
      a {
        color: #f5f5f5;
        font-size: 15px;
        font-weight: normal;
        margin: 0 0 5px 0;
        text-decoration:none;
      }
    }
    .date {
      display: block;
      color: #808285;
      margin: 10px;
      font-size: 12px;
      text-align: right;
    }
    .categories{
      display:block;
      color:#808285;
      margin: 0 0 8px 0;
    }
    .gallery-image {
      text-align: center;
      margin: 0 auto;
      img {
        margin: 0 auto;
        width: auto;
        max-height: 240px;
      }
    }
    .embed{
      width: 500px;
      height: 285px;
      margin: 10px  18px;
    }
    .embed-legend{
      border-left: 2px solid #58595B;
      color: #9B9B9D;
      font-size: 0.9em;
      margin-left: 16px;
      width: 495px;
      padding-left: 10px;
      margin-bottom:10px;
      font-style:oblique
    }
    .comments-num {
      float: none;
      background: transparent url('/view/m/images/ico-blogcomment.png') scroll no-repeat 10px 0;
      background-color: #fff;
      padding: 0 0 0 40px;
      height: 40px;
      width: auto;
      margin: 0;
      line-height: 24px;
      a {
        color: #00ad4e;
        font-size: 12px;
        text-decoration: none;
        line-height: 16px;
      }
    }
    blockquote {
      padding: 10px;
      margin:0;
      font-size: 13px;
      line-height: 1.7em;
    }
    .read_more {
      margin-top: 16px;
      text-align: right;
      a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;
      }
    }
    ul.share-goteo {
      margin: 0;
      padding: 0 10px 0 0;
      list-style: none;
      float: right;
      background-color: #fff;
      display: block;
      height: 40px;
      li{
        display:inline;
        float:left;
        margin: 0 0 0 10px;
        &.twitter,
        &.facebook,
        &.rss {
          a {
            height:20px;
            float:left;
            padding: 0 0 0 25px;
            font-size: 12px;
            line-height: 20px;
          }
        }
        &.sharetext {
          height:20px;
          float:left;
          color: #808285;
          font-size: 12px;
        }
        &.twitter a{
          background: transparent url('/view/m/images/twitter.png') scroll no-repeat  0 0;
          color:#13c2ec;
          text-decoration:none;
        }
        &.facebook a{
          background: transparent url('/view/m/images/facebook.png') scroll no-repeat  0 0;
          color:#4a6393;
          text-decoration:none;
        }
      }
    }
    .post-gallery-container{
      width:580px;
      height:300px;
      display:none;
    }
    .post-gallery {
      ul.slderpag {
        margin: 8px 0 0 0;
        list-style:none;
        padding:0;
        float:left;
        height:auto;
        li{
          cursor:pointer;
          display: block;
          float: left;
          overflow: hidden;
          margin: 0 4px 5px 4px;
          a{
            width: 12px;
            height: 12px;
            margin-top: 2px;
            background-color: #cdcdce;
            color: #cdcdce;
            display:block;
            &:hover{
              background-color: #20b3b2;
              color: #20b3b2;
            }
          }
          &.current {
            a {
              background-color: #808184 !important;
              color: #808184 !important;
            }
          }
        }
      }
      a {
        &.next,
        &.prev {
          width: 16px;
          height: 16px;
          line-height: 2000px;
          overflow: hidden;
          float:left;
          margin: 8px 0 0 0;
          cursor:pointer;
        }
        &.prev{
          background: url('/view/m/images/small_arrowslider-sprt.png') scroll no-repeat 0 0;
          &:hover {
            background: url('/view/m/images/small_arrowslider-sprt.png') scroll no-repeat 0 -32px;
          }
        }
        &.next{
          background: url('/view/m/images/small_arrowslider-sprt.png') scroll no-repeat 0 -16px;
          &:hover{
            background: url('/view/m/images/small_arrowslider-sprt.png') scroll no-repeat 0 -48px;
          }
        }
      }
    }
  }

  //ブログ活動報告コメントウィジェット
  &.post-comments {
    margin: 0;
    padding: 10px;
    div.message {
      background: #e7e7e7 url('/view/m/images/message/beak/1.png') no-repeat left top;
      margin-left: 60px;
      padding: .5em 1em .5em 1.5em;
      overflow: visible;
      position: relative;
      .avatar {
        position: absolute;
        left: -60px;
        top: 0;
        display: block;
        width: 50px;
        height: 50px;
      }
      .user {
        text-transform: none;
        font-size: 14px;
        font-weight: bold;
        margin: 0 0 1em;
        float: left;
      }
      .date {
        float: right;
        color: #808080;
        font-size: 12px;
      }
      blockquote {
        margin: 0;
        padding: 0;
        clear: both;
      }
    }
    div.message + div.message {
      margin-top: 20px;
    }
    div.owner {
      background: #e9f4ea url('/view/m/images/message/beak/2.png') no-repeat left top !important;
    }
  }

  //ブログ活動報告コメントを書く　ウィジェット
  &.blog-comment{
    border-bottom: 1px dashed #c0c0c0;
    margin: 0;
    overflow: hidden;
    padding: 10px 0;
    position:relative;

    form {
      @include cf;
    }
    textarea {
      clear: right;
      display: block;
      float: right;
      width: 250px;
      height: 50px;
      margin: 10px 10px 20px 0;
      padding: 0.3em 0;
      resize: none;
      background-color: #DCEEDF;
      border: 1px solid #2EAB58;
    }
    a.preview{
      color: #2EAB58;
      font-weight: normal;
      left: 60px;
      position: absolute;
      text-decoration: none;
      text-transform: uppercase;
      top: 194px;
      font-style: normal;
      display: block;
      width: 60px;
      font-size: 12px;
    }
    button.green{
      display: block;
      float: right;
      margin: 0 10px 10px 10px;
      text-align: center;
    }
    div#bocadillo{
      background:url('/view/m/images/bocadillo.jpg') no-repeat;
      height: 50px;
      margin-top: 8px;
      position:absolute;
      width: 50px;
    }
  }

  //達成報告
  &.project-evaluation {
    padding: 10px 0;
    .evaluation_content {
      padding: 16px;
    }
  }


  //ユーザー
  &.worthcracy {
    text-align: center;
    .title {
      text-align: left !important;
    }
    ul {
      padding: 3em 52px 3em 0;
      margin: 0;
      list-style: none;
      position: relative;
      display: inline-block;
      background: url('yen/xl.png') no-repeat right center;
      li {
        display: inline-block;
        width: 92px;
        height: 8px;
        overflow: visible;
        background-color: #e7e7e7;
        position: relative;
        > span.threshold,
        > strong,
        > em {
          display: block;
          width: 92px;
          position: absolute;
          text-align: center;
        }
        > span.threshold {
          top: -25px;
          font-size: 16px;
        }
        > em,
        > strong {
          top: 12px;
          width: 300px;
          left: 50%;
          margin-left: -150px;
          color: #808285;
        }
        > em {
          font-style: normal;
          font-size: 12px;
        }
        &.done {
          &.worth-1,
          &.active {
            background-color: #B6CAE0 !important;
            color: #B6CAE0;
          }
          &.worth-2,
          &.worth-2.active {
            background-color: #92AFD1 !important;
            color: #92AFD1;
          }
          &.worth-3,
          &.worth-3.active {
            background-color: #799EC7 !important;
            color: #799EC7;
          }
          &.worth-4,
          &.worth-4.active {
            background-color: #3C71AE !important;
            color: #3C71AE;
          }
          &.worth-5,
          &.worth-5.active {
            background-color: #0C4E99 !important;
            color: #0C4E99;
          }
        }
      }
    }
    &.user-worthcracy {
      h3.title {
        padding-left: 20px;
      }
      ul li > strong {
        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase;
        top: 15px;
        padding-top: 9px;
        background: url('worth/beak.png') no-repeat top center;
      }
      div.worth-amount {
        display: inline;
        float: left;
        color: #990033;
        font-weight: bold;
        font-size: 30px;
        position: relative;
        top: -10px;
        left: 35px;
        line-height: 33px;
        padding-right: 30px;
        background: url('/view/m/images/yen/violet/l.png') no-repeat center right;
        border-bottom: 1px solid #990033;
      }
    }
  }

  //todo: investorsらしい
  /*.side-worthcracy {
    ul {
      margin: 0 0 10px 4px;
      list-style: none;
      position: relative;
      display: inline-block;
      background: url('/view/m/images/yen/s.png') no-repeat right 25px;
      padding: 2em 25px 1em 0;
      li {
        display: inline-block;
        width: 44px;
        height: 6px;
        overflow: visible;
        background-color: #e7e7e7;
        position: relative;
        > span.threshold,
        > strong,
        > em {
          display: block;
          width: 44px;
          position: absolute;
          text-align: center;
        }
        > span.threshold {
          top: -14px;
          font-size: 12px;
          line-height: 18px;
        }
        > em,
        > strong {
          top: 10px;
          width: 301px;
          left: 50%;
          margin-top: 6px;
          margin-left: -150px;
          color: #808285;
        }
        > em {
          font-style: normal;
          font-size: 12px;
        }
        &.done {
          &.worth-1 {
            background-color: #B6CAE0;
            color: #B6CAE0;
          }
          &.worth-2 {
            background-color: #92AFD1;
            color: #92AFD1;
          }
          &.worth-3 {
            background-color: #799EC7;
            color: #799EC7;
          }
          &.worth-4 {
            background-color: #3C71AE;
            color: #3C71AE;
          }
          &.worth-5 {
            background-color: #0C4E99;
            color: #0C4E99;
          }
        }
      }
    }
  }*/

}


h4.author:hover a{
  color:#c5da4d;
}
