@charset "utf-8";

/*
base          :リセット、タグに対するベース設定
mixins        :mixin設定
colors        :カラーコードの変数
commons       :header,footerなどの共通要素に対する設定
widgets       :主にプロジェクトウィジェットに対する設定。.widgetが付くものに対する設定も少々
meter         :メーターの設定
superform     :.superformに対する設定。（form要素）
home          :body.home配下に対する設定
discover      :
review        :
project-show  :
project-edit  :
dashboard     :
community     :
admin         :
user-profile  :
*/

@import "base";
//@import "mixins";
//@import "colors";
@import "commons";
@import "widgets";
@import "meter";
@import "superform";
@import "home";
@import "discover";
@import "review";
@import "project-show";
@import "project-edit";
//@import "dashboard";
//@import "community";
@import "admin";
//@import "user-profile";

//todo:各ファイルに、htmlに絡む変更と、どのファイルに書くか迷ったものをtodoで書いてあるので、追って対応する