@charset "utf-8";

/*
colors        :カラーコードの変数
mixins        :mixin設定
base          :リセット、タグに対するベース設定
commons       :header,footerなどの共通要素に対する設定
widgets       :主にプロジェクトウィジェットに対する設定。.widgetが付くものに対する設定も少々
meter         :メーターの設定
superform     :.superformに対する設定。（form要素）
home          :body.home配下に対する設定
discover      :cfのトップ、プロジェクト一覧
review        :マイメニューのうち、レビューのみ
project-show  :プロジェクト詳細
project-edit  :プロジェクト新規・編集
dashboard     :マイメニュー
community     :マニメニュー > このユーザーの興味
admin         :
*/

@import "inc/colors";
@import "inc/mixins";
@import "inc/base";
@import "inc/commons";
@import "inc/widgets";
@import "inc/meter";
@import "inc/superform";
@import "inc/home";
@import "inc/discover";
@import "inc/review";
@import "inc/project-show";
@import "inc/project-edit";
@import "inc/dashboard";
@import "inc/community";
@import "inc/admin";

//todo:各ファイルに、htmlに絡む変更と、どのファイルに書くか迷ったものをtodoで書いてあるので、追って対応する