/*----------------------------------------------------------------------
 colors
----------------------------------------------------------------------*/
$colMain01: #075d79; //リンクテキストのメインカラー
$colMain02: #255b7f; //ボーダーのメインカラー
$colMain03: #105d7f; //背景のメインカラー

$colLinkText01: #337ab7; //リンクテキストのバリエーションカラー


/*----------------------------------------------------------------------
 font-size (exchange rem)
----------------------------------------------------------------------*/
$fz12px: 0.8571428rem;
$fz13px: 0.9285714rem;
$fz14px: 1rem;
$fz15px: 1.0714285rem;


/*----------------------------------------------------------------------
 media query
----------------------------------------------------------------------*/
@mixin mediaSP {
  @media screen and (max-width: 768px) {
    @content;
  }
}


/*----------------------------------------------------------------------
 .project-show commons
----------------------------------------------------------------------*/
$projectShowBorder: 1px solid #e0e0e0;
