.about{
  #main{
    margin: 0 auto;
    > .widget{
      margin: 0 0 20px 0;
    }
  }
  div#sub-header {
    div {
      display: block;
      max-width: 960px;
      margin: 0 auto;
    }
    h2 {
      //margin-bottom: 20px;
      min-height: 55px;
      position: relative;
      line-height: 1.2em;
      font-size: 18px;
      font-weight: normal;
      a {
        @include circleAvatar(55px);
      }
      em {
        font-weight: bold;
        font-size: 24px;
        font-style: normal;
      }
    }
  }
}
.review{
  #sub-header{
    height: 145px;
    .dashboard-header{
      margin: 10px auto 0;
      max-width: 960px;
      min-height: 100px;
      position: relative;
      h2{
        display: inline-block;
        color: #666;
        font-size: 30px;
        margin: 0;
        padding: 0;
        vertical-align: middle;
      }
    }
  }
}