@charset "utf-8";
.user-profile {

  #main {
    margin: 0 auto;
    > .center {
      float: left;
      width: 610px;
    }
    > .side {
      float: right;
      width: 330px;
    }
  }

  div#sub-header {
    div {
      display: block;
      max-width: 960px;
      margin: 0 auto;
    }
    h2 {
      //margin-bottom: 20px;
      min-height: 55px;
      position: relative;
      line-height: 1.2em;
      font-size: 18px;
      font-weight: normal;
      a {
        @include circleAvatar(55px);
      }
      em {
        font-weight: bold;
        font-size: 24px;
        font-style: normal;
      }
    }
  }

  .center{

    .widget.user-mates {
      &:last-child {
        margin-bottom: 20px;
      }
      .users ul > li {
        max-width:305px;
        width:305px;
      }
    }

    .widget.project-supporters {
      .summary {
        background-color: #fff;
        border-bottom: $solidBorder;
        font-weight: 600;
        font-size: 18px;
        margin: 0;
        overflow: hidden;
        padding: 30px 20px;
        .supporters {
          display: inline-block;
          width: auto;
        }
        dt {
          margin: 0;
          &.reached {
            color: #663;
            margin-top: -1.5em;
          }
        }
        dd {
          margin: 0;
          &.reached {
            color: #903;
          }
        }
      }
      .supporters {
        > ul > li {
          min-height: 105px;
          width: 305px;
          &:first-child,
          &:nth-child(2) {
            padding-top: 20px;
          }
          &:last-child {
            padding-bottom: 20px;
          }
        }
        .supporter {
          h4 {
            min-height: 36px;
          }
        }
      }
    }

    .widget.user-mates {
      .categories {
        margin:0;
        padding:0;
        h3.title {
          background-color: #fff;
          border-bottom:$solidBorder;
          font-size:18px;
          font-weight:400;
          margin:0;
          height: 80px;
          line-height: 80px;
          padding:0 2px 0 20px;
        }
        ul {
          display:inline-block;
          list-style:none;
          margin:0;
          padding-left:0;
          li {
            display:inline-block;
            margin-left:0;
            padding-left:0;
            a {
              font-size: 12px;
              text-decoration:none;
              &.active,
              &:hover {
                color:#19B4B2;
              }
            }
          }
        }
      }
    }

    .widget.user-message{
      label{
        display: block;
      }
      input#contact-subject{
        margin: 0 0 10px 0;
      }
      textarea,
      input{
        width: 100%;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background: #FFF;
      }
      a.preview{
        display: none;
      }
    }

    .widget.user-mates{
      .categories{
        padding: 15px 20px;
        h3.title{
          height: auto;
          min-height: unset;
          line-height: 16px;
          margin: 0 0 20px 0;
          padding: 0;
          border: none;
          background: none;
        }
        .list{
          padding: 0;
          border-bottom: $dashedBorder;
          > ul{
            list-style: none;
            padding: 0;
            background: none;
          }
        }
      }
    }

  }

  .side {
    > .widget {
      background: none;
      h3.supertitle {
        color: #000;
        font-size: 16px;
        font-weight: 600;
        margin: 0 0 8px;
      }
      .project-widget-box {
        background-color: #fff;
      }
    }

    //サイドバー　＞　支援者
    .widget.user-supporters {
      margin: 0 0 20px;
      padding: 0;
      .supporters ul{
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: stretch; /* Safari */
        align-items: stretch;
        -webkit-flex-wrap: wrap; /* Safari */
        flex-wrap: wrap;
        li{
          width: 50%;
          min-height: 95px;
          padding: 10px 5px;
          border-bottom:$dashedBorder;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          &:nth-child(2n+2) {
            border-right:none;
          }
          &:nth-child(3n+3) {
            border-right:$dashedBorder;
          }
          .supporter{
            zoom: 1;
            &:after{
              content: '';
              display: block;
              clear: both;
            }
          }
          .avatar{
            float: left;
          }
          h4 {
            float: right;
            width: 101px;
            height: 3em;
            font-size:12px;
            margin: 0 0 4px 3px;
            text-align: left;
            overflow: hidden;
            //text-overflow: ellipsis;
            //white-space: nowrap;
            span{
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
            }
          }
          dl{
            float: right;
            width: 101px;
            margin: 0 0 0 3px;
            dd.date{
              top: auto;
              bottom: -2em;
              left: 0;
            }
          }
        }
      }
    }

    //サイドバー　＞　このユーザーの興味
    .widget.user-mates {
      margin:0 0 20px;
      padding:0;
      div.categories {
        height:auto;
        min-height: 56px;
        overflow:hidden;
        padding: 0;
        > .list {
        }
        ul {
          overflow:hidden;
          li {
            display:inline-block;
            margin-bottom:5px;
            margin-right:5px;
            a {
              color:#636466;
              font-size:12px;
              text-decoration:none;
              text-transform:uppercase;
              &:hover {
                color:#20B3B2;
              }
            }
          }
        }
      }

      .users{
        ul{
          display: -webkit-flex;
          display: flex;
          -webkit-flex-wrap: wrap; /* Safari */
          flex-wrap: wrap;
          -webkit-align-items: stretch; /* Safari */
          align-items: stretch;
          overflow:hidden;
          li{
            min-height: unset;
            padding: 10px 5px;
            zoom: 1;
            &:after{
              content: '';
              display: block;
              clear: both;
            }
            .user{
              padding: 0;
              .avatar{
                position: static;
                float: left;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 43px;
              }
              h4{
                float: right;
                width: 101px;
                margin: 0 0 10px 5px;
              }
              .invests,
              .projects{
                float: right;
                width: 101px;
                font-size: 10px;
                margin: 0 0 0 5px;
              }
            }
          }
        }
      }

    }

  }

  .widget.user-message {
    form label[for=message] {
      display:block;
    }
    form textarea#message {
      margin-bottom:16px;
    }

  }

  .widget.user-about {
    line-height:16px;
    margin-bottom: 20px;
    padding-bottom:0;
    > div {
      border-top:$dashedBorder;
      clear:both;
      padding-top:20px;
      &:nth-child(1) {
        border-top:none;
        padding-top:0;
      }
      &.webs ul {
        list-style:none;
        margin:0;
        overflow:visible;
        padding:0 0 10px;
        li {
          background:url(/view/images/social/url.png) no-repeat left center;
          display:block;
          line-height:2em;
          margin:0 0 10px;
          min-height:2em;
          padding-left:30px;
          word-wrap:break-word;
          a {
            font-size:12px;
            text-decoration:none;
            &:hover {
              color:#20B3B2;
            }
          }
        }
      }
      &.location {
        h4 {
          display:none;
        }
        p {
          background:url(/view/images/location/m.png) no-repeat left center;
          line-height:20px;
          min-height:22px;
          padding-left:28px;
        }
        p,
        p * {
          font-size:12px;
          font-style:normal;
          font-weight:400;
          text-decoration:none;
          &:hover {
            color:#20B3B2;
          }
        }
      }
      &.message {
        p {
          background:url(/view/images/bocadillo/s.png) no-repeat left center;
          line-height:22px;
          min-height:22px;
          padding-left:26px;
          a {
            color:#28B258;
            font-size:14px;
            font-weight:700;
            text-decoration:none;
            &:hover {
              text-decoration:underline;
            }
          }
        }
      }
    }
    h4 {
      font-size:16px;
      margin:0 0 20px;
    }
    p {
      margin:0 0 20px;
    }
  }

  .widget.projects {
    margin-bottom: 20px;
    .discover-group {
      .widget.project {
        margin: 0 0 0 5px;
      }
    }
  }

  .widget.user-supporters {
    .supporters {
      ul {
        list-style:none;
        margin:0;
        padding:0;
        li {
          background-color:#FFF;
          border-right:$dashedBorder;
          border-top:none;
          float:left;
          min-height:120px;
          position:relative;
          width:109px;
          &:nth-child(3n+3) {
            border-right:none;
          }
          &.active {
            background-color:#f3f3f3;
          }
          div.supporterContainer {
            margin:0;
            padding: 0;
            a.expand {
              bottom:0;
              left:0;
              position:absolute;
              right:0;
              text-decoration:none;
              top:0;
              z-index:999;
            }
          }
          .avatar {
            @include circleAvatar(43px);
            display: block;
            margin: 8px auto 4px;
            img {
              background-color: #FFF;
            }
          }
          h3, h4, h5, h6 {
            font-size:12px;
            font-weight:700;
            margin:0 0 .5em;
            text-transform:none;
          }
          h4 {
            font-size:16px;
            line-height:18px;
            margin-bottom:4px;
            text-align:center;
          }
          dl {
            font-size:10px;
            margin: 0;
            position:relative;
            dt {
              clear: left;
              float: left;
              &.projects {
                margin-right:0;
                padding-left:4px;
              }
              &.date {
                display:none;
              }
            }
            dd {
              font-size:10px;
              margin: 0;
              &.projects {
              }
              &.date {
                bottom:0;
                color:#a6a8ab;
                left:4px;
                position:absolute;
                top:10px;
              }
            }
          }
        }
      }
    }

    a.more {
      background-color:#fff;
      border-top:$dashedBorder;
      clear:both;
      color:#58595b;
      display:block;
      float:none;
      font-size:14px!important;
      margin:0;
      padding:10px;
      position:relative;
      text-align:center;
      text-decoration:none;
      text-transform:uppercase;
      &:hover {
        color: #313B96;
      }
    }
  }

  .widget.user-social {
    border-bottom: 1px dashed #c0c0c0;
    .title {
      display:none;
    }

    ul {
      list-style:none;
      margin:0;
      overflow:visible;
      padding:0;
      li {
        background:no-repeat left center;
        display:block;
        float:left;
        line-height:2em;
        min-height:2em;
        min-width:20%;
        padding-left:30px;
        a {
          text-decoration:none;
        }
        &.facebook {
          background-image:url(/view/images/social/facebook.png);
        }
        &.google {
          background-image:url(/view/images/social/google.png);
        }
        &.twitter {
          background-image:url(/view/images/social/twitter.png);
        }
        &.identica {
          background-image:url(/view/images/social/identica.png);
        }
        &.linkedin {
          background-image:url(/view/images/social/linkedin.png);
        }
      }
    }
  }

  .widget.user-mates {
    border-bottom: $solidBorder;
    padding: 0;
    position: relative;
    h3.title {
      background: url(/view/images/icon_tag_b.png) no-repeat 20px 50%;
      border-bottom:$dashedBorder;
      font-size: 14px;
      font-weight: 400;
      margin: 0;
      min-height: 58px;
      padding:18px 0 18px 40px;
    }
    h4.supertitle {
      background: url(/view/images/icon_tag_b.png) #fff no-repeat 20px 50%;
      border-bottom:$dashedBorder;
      font-size: 14px;
      font-weight: 400;
      margin: 0;
      min-height: 58px;
      padding:18px 0 18px 40px;
    }
    div.users,
    div.categories {
      height:auto;
      overflow:visible;
    }
    div.users ul,
    div.categories ul {
      height:auto;
      list-style:none;
      margin:0;
      overflow:auto;
      padding:0;
    }
    div.users {
      clear:both;
      position: relative;
      ul {
        background-color:#fff;
        height:auto;
        list-style:none;
        margin:0;
        overflow:auto;
        padding:0;
        &.is-archive-all {
          li:nth-child(5n),
          li:nth-child(6n) {
            border-bottom: none;
          }
        }
        > li {
          border-right:$dashedBorder;
          float:left;
          margin:-1px 0 0;
          overflow:hidden;
          position:relative;
          width:164px;
          border-bottom:$dashedBorder;

          &:nth-child(2n+2) {
            border-right:none;
          }
          &.nomarginright {
            margin-right:0;
          }
          &.active {
            background-color:#f3f3f3!important;
          }
          &:hover > div.user > h4 > a {
            color:#19B4B2;
          }
          .user {
            padding: 20px 20px 20px 80px;
            position:relative;
            > a.expand {
              bottom:0;
              left:0;
              position:absolute;
              right:0;
              top:0;
              z-index:99;
            }
          }
          .avatar {
            height:50px;
            left:20px;
            position:absolute;
            text-align:center;
            top:20px;
            width:50px;
            a {
              @include circleAvatar(50px);
            }
          }
          h3, h4, h5, h6 {
            font-size:12px;
            line-height:1em;
            margin:0;
            a {
              font-size:12px!important;
              font-weight:400;
            }
          }
          span {
            font-size:12px;
            &.projects {
              color:#20b3b2;
              margin-right: 8px;
            }
            &.invests {
              color:#313b96;
            }
          }
        }
        li {
          a {
            font-size:12px!important;
            text-decoration:none;
            text-transform:none!important;
            &:hover {
              color:#20B3B2;
            }
          }
          div.user h4 {
            margin-bottom: 10px;
            a {
              display:inline-block;
              font-weight:700;
            }
          }
        }
      }
    }
    a.more {
      color: #337ab7;
      display: inline-block;
      font-size:14px;
      line-height: 58px;
      margin:0;
      min-height: 58px;
      padding: 0 20px 0 10px;
      position: absolute;
      right: 0;
      text-decoration:none;
      top: 0;
      &:hover {
        color:#20b3b2;
      }
      &:after {
        background: url(/view/images/arrow_user_link.png) no-repeat right 50%;
        content: '';
        display: inline-block;
        height: 8px;
        padding: 0 0 4px 4px;
        width: 6px;
      }
    }
    .project-widget-box {
      background-color:#e5e5e5;
      margin:0;
      padding:0;
    }
    div.categories {
      background-color: #fff;
      border-bottom:$solidBorder;
      min-height: 58px;
      padding:12px 0 12px 20px;
      h3.supertitle {
        background-color: #fff;
      }
      .list {
        border-bottom:$solidBorder;
        min-height: 58px;
        padding:12px 0 12px 20px;
        > ul {
          background: url(/view/images/icon_tag.png) no-repeat left 50%;
          padding-left: 20px;
          > li {
            a {
              line-height: 30px;
            }
          }
        }
      }

    }
  }

  .widget.user {
    h3.supertitle {
      font-weight: normal;
      margin: 0;
      padding: .5em 2px;
      border-bottom: 1px solid #21b0b0;
      font-size: 18px;
      background-color: #21b0b0;
      color: #f5f5f5;
      padding-left: 8px;
    }
  }
}

.user-login{
  min-height: unset;
  #main{
    margin: 0 auto;
  }
  div#sub-header {
    div {
      display: block;
      max-width: 960px;
      margin: 0 auto;
    }
    h2 {
      //margin-bottom: 20px;
      min-height: 55px;
      position: relative;
      line-height: 1.2em;
      font-size: 18px;
      font-weight: normal;
      a {
        @include circleAvatar(55px);
      }
      em {
        font-weight: bold;
        font-size: 24px;
        font-style: normal;
      }
    }
  }
  .login{
    min-height: calc(100vh - 2em - 758px);
    padding: 15px 20px;
    margin: 0 0 20px 0;
    background: #FFF;
    label{
      display: block;
    }
    textarea,
    input[type="text"]{
      display: block;
      width: 100%;
      margin: 0 0 20px 0;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      background: #FFF;
    }
  }
}
