.user-profile {

  #main {
    margin: 0 auto;
    > .center {
      float: left;
      width: 620px;
    }
    > .side {
      float: right;
      width: 330px;
    }
  }

  div#sub-header {
    div {
      display: block;
      max-width: 960px;
      margin: 0 auto;
    }
    h2 {
      min-height: 55px;
      position: relative;
      line-height: 1.2em;
      font-size: 18px;
      font-weight: normal;
      a {
        @include circleAvatar(55px);
      }
      em {
        font-weight: bold;
        font-size: 24px;
        font-style: normal;
      }
    }
  }

  .center{

    &.profile {
      .widget.worthcracy.user-worthcracy {
        background-color:#693;
        padding:0;
        h3.title {
          border-bottom:1px solid #693;
          color:#fff;
          font-size:18px;
          font-weight:400;
          margin:0;
          padding:.5em 2px .5em 20px;
        }
      }
    }

    .widget.user-mates {
      a.more {
        background-color:#fff;
        display:block;
        float:none;
        font-size:14px!important;
        height:auto;
        line-height:1.5em;
        margin:0;
        padding-right:20px;
        text-align:center;
        text-decoration:none;
      }
      .users ul > li {
        max-width:308px!important;
        width:308px!important;
      }
    }

    .widget.project-supporters {
      .supporters > ul > li {
        padding-bottom: 0;
      }
    }

  }

  .side {
    > .widget {
      h3.supertitle {
        color:#f5f5f5;
        padding: 9px 2px 9px 20px;
      }
    }

    .widget.user-supporters {
      margin: 0 0 20px;
      padding: 0;
      .supporters ul li h4 {
        font-size:16px;
        margin-bottom:4px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }
    }

    .widget.user-mates {
      margin:0 0 20px;
      padding:0;
    }

  }

  .widget.user-message {
    form label[for=message] {
      display:block;
    }
    form textarea#message {
      margin-bottom:16px;
    }

  }

  .widget.user-about {
    border-bottom: 1px dashed #c0c0c0;
    line-height:16px;
    padding-bottom:0;
    > div {
      border-top:1px dashed silver;
      clear:both;
      padding-top:20px;
      &:nth-child(1) {
        border-top:none;
        padding-top:0;
      }
      &.webs ul {
        list-style:none;
        margin:0;
        overflow:visible;
        padding:0 0 10px;
        li {
          background:url(/view/images/social/url.png) no-repeat left center;
          display:block;
          line-height:2em;
          margin:0 0 10px;
          min-height:2em;
          padding-left:30px;
          word-wrap:break-word;
          a {
            font-size:12px;
            text-decoration:none;
            &:hover {
              color:#20B3B2;
            }
          }
        }
      }
      &.location {
        h4 {
          display:none;
        }
        p {
          background:url(/view/images/location/m.png) no-repeat left center;
          line-height:20px;
          min-height:22px;
          padding-left:28px;
        }
        p,
        p * {
          font-size:12px;
          font-style:normal;
          font-weight:400;
          text-decoration:none;
          &:hover {
            color:#20B3B2;
          }
        }
      }
      &.message {
        p {
          background:url(/view/images/bocadillo/s.png) no-repeat left center;
          line-height:22px;
          min-height:22px;
          padding-left:26px;
          a {
            color:#28B258;
            font-size:14px;
            font-weight:700;
            text-decoration:none;
            &:hover {
              text-decoration:underline;
            }
          }
        }
      }
    }
    h4 {
      font-size:16px;
      margin:0 0 20px;
    }
    p {
      margin:0 0 20px;
    }
  }

  .widget.projects {
    .discover-group {
      .widget.project {
        margin: 0 0 0 5px;
      }
    }
  }

  .widget.user-supporters {
    h3.supertitle {
      background-color:#313B96;
      border-bottom:1px solid #313B96!important;
      color:#f5f5f5;
      font-size: 18px;
      font-weight: normal;
      margin: 0;
      padding: .5em 2px .5em 20px;
    }

    .supporters {
      ul {
        list-style:none;
        margin:0;
        padding:0;
        li {
          background-color:#FFF;
          border-right:1px dashed silver;
          border-top:none;
          float:left;
          min-height:120px;
          position:relative;
          width:109px;
          &:nth-child(3n+3) {
            border-right:none;
          }
          &.active {
            background-color:#f3f3f3;
          }
          div.supporterContainer {
            margin:0;
            padding: 0;
            a.expand {
              bottom:0;
              left:0;
              position:absolute;
              right:0;
              text-decoration:none;
              top:0;
              z-index:999;
            }
          }
          .avatar {
            @include circleAvatar(43px);
            display: block;
            margin: 8px auto 4px;
            img {
              background-color: #FFF;
            }
          }
          h3, h4, h5, h6 {
            font-size:12px;
            font-weight:700;
            margin:0 0 .5em;
            text-transform:none;
          }
          h4 {
            font-size:16px;
            line-height:18px;
            margin-bottom:4px;
            text-align:center;
          }
          dl {
            font-size:10px;
            margin: 0;
            position:relative;
            dt {
              clear: left;
              float: left;
              &.projects {
                margin-right:0;
                padding-left:4px;
              }
              &.date {
                display:none;
              }
            }
            dd {
              font-size:10px;
              margin: 0;
              &.projects {
              }
              &.date {
                bottom:0;
                color:#a6a8ab;
                left:4px;
                position:absolute;
                top:10px;
              }
            }
          }
        }
      }
    }

    a.more {
      background-color:#fff;
      border-top:1px dashed silver;
      clear:both;
      color:#58595b;
      display:block;
      float:none;
      font-size:14px!important;
      margin:0;
      padding:10px;
      position:relative;
      text-align:center;
      text-decoration:none;
      text-transform:uppercase;
      &:hover {
        color: #313B96;
      }
    }
  }

  .widget.user-social {
    border-bottom: 1px dashed #c0c0c0;
    .title {
      display:none;
    }

    ul {
      list-style:none;
      margin:0;
      overflow:visible;
      padding:0;
      li {
        background:no-repeat left center;
        display:block;
        float:left;
        line-height:2em;
        min-height:2em;
        min-width:20%;
        padding-left:30px;
        a {
          text-decoration:none;
        }
        &.facebook {
          background-image:url(/view/images/social/facebook.png);
        }
        &.google {
          background-image:url(/view/images/social/google.png);
        }
        &.twitter {
          background-image:url(/view/images/social/twitter.png);
        }
        &.identica {
          background-image:url(/view/images/social/identica.png);
        }
        &.linkedin {
          background-image:url(/view/images/social/linkedin.png);
        }
      }
    }
  }

  .widget.user-mates {
    padding: 0;
    h3.supertitle {
      background-color: #21b0b0;
      border-bottom: 1px solid #21b0b0;
      color: #f5f5f5;
      font-size: 18px;
      font-weight: 400;
      margin: 0;
      padding: .5em 2px .5em 20px;
    }
    h3.title {
      background-color: #666;
      color: #f5f5f5;
      font-size: 14px;
      font-weight: 400;
      margin: 0;
      padding: 4px 0 4px 20px;
    }
    div.users,
    div.categories {
      height:auto;
      overflow:visible;
    }
    div.users ul,
    div.categories ul {
      height:auto;
      list-style:none;
      margin:0;
      overflow:auto;
      padding:0;
    }
    div.categories {
      height:auto;
      line-height:1em;
      overflow:hidden;
      padding-bottom:10px;
      ul {
        overflow:hidden;
        li {
          display:inline-block;
          margin-bottom:5px;
          margin-right:5px;
          a {
            color:#636466;
            font-size:12px;
            text-decoration:none;
            text-transform:uppercase;
            &:hover {
              color:#20B3B2;
            }
          }
        }
      }
    }
    div.users {
      clear:both;
      h3.supertitle {
        background-color:#666;
        border:none;
        color:#f5f5f5;
        font-size:14px;
        font-weight:400;
        height:auto;
        line-height:normal;
        margin:0;
        padding:4px 0 4px 20px;
      }
      ul {
        background-color:#fff;
        height:auto;
        list-style:none;
        margin:0;
        overflow:auto;
        padding:0;
        > li {
          border-right:1px dashed silver;
          float:left;
          margin:-1px 0 0;
          overflow:hidden;
          padding:8px 0;
          position:relative;
          width:164px;
          border-bottom:1px dashed silver;

          &:nth-child(2n+2) {
            border-right:none;
          }
          &.nomarginright {
            margin-right:0;
          }
          &.active {
            background-color:#f3f3f3!important;
          }
          &:hover > div.user > h4 > a {
            color:#19B4B2;
          }
          .user {
            padding:3px 6px 3px 57px;
            position:relative;
            > a.expand {
              bottom:0;
              left:0;
              position:absolute;
              right:0;
              top:0;
              z-index:99;
            }
          }
          .avatar {
            height:50px;
            left:4px;
            position:absolute;
            text-align:center;
            top:8px;
            width:50px;
            a {
              @include circleAvatar(50px);
            }
          }
          h3, h4, h5, h6 {
            font-size:12px;
            line-height:1em;
            margin:0;
            a {
              font-size:12px!important;
              font-weight:400;
            }
          }
          span {
            font-size:12px;
            padding-top:4px;
            &.projects {
              color:#20b3b2;
            }
            &.invests {
              color:#313b96;
            }
          }
        }
        li {
          a {
            font-size:12px!important;
            text-decoration:none;
            text-transform:none!important;
            &:hover {
              color:#20B3B2;
            }
          }
          div.user h4 {
            margin-top:4px;
            a {
              display:inline-block;
              font-weight:700;
              height:26px;
            }
          }
        }
      }
    }
    a.more {
      background-color:#fff;
      border-top:1px dashed silver;
      clear:both;
      color:#58595b;
      display:block;
      font-size:14px;
      line-height:1.5em;
      margin:0;
      padding:10px;
      text-align:center;
      text-decoration:none;
      &:hover {
        color:#20b3b2;
      }
    }
    .project-widget-box {
      background-color:#e5e5e5;
      margin:0;
      padding:0;
    }
    div.categories {
      background-color:#efefef;
      line-height:27px;
      margin:0;
      padding:0 0 0 20px;
      ul li {
        display:inline-block;
        margin-bottom:5px;
        margin-right:5px;
      }
    }
  }

  .widget.user {
    h3.supertitle {
      font-weight: normal;
      margin: 0;
      padding: .5em 2px;
      border-bottom: 1px solid #21b0b0;
      font-size: 18px;
      background-color: #21b0b0;
      color: #f5f5f5;
      padding-left: 8px;
    }
  }

  .widget.categorylist {
    margin:0;
    padding:0;
    h3.title {
      background-color:#21b0b0;
      border-bottom:1px solid #21b0b0;
      color:#f5f5f5;
      font-size:18px;
      font-weight:400;
      margin:0;
      padding:.5em 2px .5em 20px;
    }
    ul {
      display:inline-block;
      list-style:none;
      margin:0;
      padding-left:0;
      li {
        display:inline-block;
        margin-left:0;
        padding-left:0;
        a {
          font-size: 12px;
          text-decoration:none;
          &.active,
          &:hover {
            color:#19B4B2;
          }
        }
      }
    }
    > .list {
      background-color:#efefef;
      padding:0 0 0 20px;
      > ul > li {
        margin:.5em .5em .5em 0;
      }
    }
    > .filters {
      border-bottom:1px solid #D5D5D6;
      border-top:1px solid #D5D5D6;
      padding:5px;
      > span {
        font-size:12px;
      }
      > ul {
        margin-left:1em;
        > li {
          margin-bottom:.5em;
          margin-right:.5em;
          > a {
            background:url(/view/images/user/grey-triangle-down.png) no-repeat left;
            display:inline-block;
            padding-left:15px;
            &.active {
              background:url(/view/images/user/blue-triangle-down.png) no-repeat left;
            }
          }
        }
      }
    }
  }

}
