/*----------------------------------------------------------------------
 .widget
----------------------------------------------------------------------*/
.widget{
  background-color: white;
  padding: 15px 20px;
  overflow: hidden;
  .title {
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
  }

  //プロジェクトウィジェット
  &.projects {
    margin-bottom: 24px;

    .project {
      background-color: #fff;
      border: 1px solid #d1d3d4;
      box-sizing: content-box;
      border-radius: 4px;
      float: left;
      margin: 0 0 24px 3.33%;
      padding: 0 0 70px;
      width: 260px;
      z-index: 98;
      overflow:visible;
      position:relative;
      &.active {
        div.image {
          filter:alpha(opacity=85);
          opacity:0.85;
        }
        a.link {
          color: $colLinkText01;
        }
      }
      a.link {
        display: block;
        text-decoration:none;
      }
      .image {
        background-color:#deddde;
        border-radius: 4px 4px 0 0;
        height:135px;
        margin:0;
        overflow:hidden;
        img {
          min-height: 135px;
        }
      }

      &-details {
        margin: 20px 16px 16px;
        h3.title {
          margin: 0 0 16px;
        }
        .author {
          color: #ababab;
          font-size:12px;
          margin-bottom: 10px;
          &-img {
            @include circleAvatar(25px);
          }
          span {
            margin-left: 8px;
            vertical-align: middle;
          }
        }
        .categories {
          background: url(/view/images/icon_tag.png) no-repeat left 50%;
          color: #ababab;
          font-size:12px;
          padding-left: 20px;
        }
      }

      .meter {
        div.graph {
          margin-bottom: 0;
        }
        dl.amount-bar {
          display: none;
        }
      }

      .want-support {
        border-top: 1px solid #d1d3d4;
        bottom: 0;
        letter-spacing: -.4em;
        position: absolute;
        text-align: center;
        width: 100%;
        > div {
          display: inline-block;
          letter-spacing: normal;
          padding-bottom: 8px;
          vertical-align: top;
          width: 50%;
          &:first-child {
            border-right: 1px solid #d1d3d4;
          }
        }
        h4 {
          font-size: 12px;
          line-height: 1;
          margin: 12px 0 8px;
        }
        img {
          height: 30px;
        }
        .days {
          height: 30px;
          line-height: 30px;
          strong {
            color: #000;
          }
        }
      }

      .balloon {
        background:#cae4e6 url(/view/images/balloonbeak.png) no-repeat bottom left;
        border-bottom:15px solid #FFF;
        > blockquote {
          font-size:12px;
          height:4em;
          margin:0;
          overflow:hidden;
          padding:3px 5px;
        }
        > h4 {
          font-size:14px;
          font-weight:700;
          margin:0 0 .5em;
          padding:3px 5px 0;
        }
      }

    }

    .skillmatching {
      div.image span.sm-icon {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 40px;
        height: 40px;
        background-image: url('/view/images/lg-project-sm.png');
        background-size:40px 40px;
      }
      div.meter dl .days{
        top:160px;
      }
    }

    .discover-group {
      display: none;
      @include cf;
      .widget.project {
        margin: 0 0 0 25px;
      }
    }

    a.discover-arrow {
      color:#FFF;
      display:inline-block;
      line-height:24px;
      position:relative;
      text-indent:24px;
      top:200px;
      vertical-align:middle;
    }

    .discover-arrow {
      &-left,
      &-right {
        width:24px;
      }
      &-left {
        float:left;
        a.discover-arrow {
          background:url(/view/images/arrowslider-sprt.png) scroll no-repeat 0 0;
          &:hover {
            background:url(/view/images/arrowslider-sprt.png) scroll no-repeat 0 -48px;
          }
        }
      }
      &-right {
        float:right;
        a.discover-arrow {
          background:url(/view/images/arrowslider-sprt.png) scroll no-repeat 0 -24px;
          &:hover {
            background:url(/view/images/arrowslider-sprt.png) scroll no-repeat 0 -72px;
          }
        }
      }
    }

    .navi-bar {
      clear:both;
      display:block;
      height:30px;
      ul.navi {
        height:10px;
        list-style:none;
        margin:0;
        padding:10px;
        z-index:900;
        li {
          display:block;
          float:left;
          height:1em;
          margin-right:.5em;
          overflow:hidden;
          width:1em;
          > * {
            display:block;
            height:100%;
            line-height:2000px;
            text-indent:2000px;
            width:100%;
          }
          > a {
            background-color:#cdcdce;
            &:hover {
              background-color:#20b3b2;
            }
            &.active {
              background-color:#808184;
            }
          }
        }
      }
      a.all {
        position:relative;
        right:-825px;
        text-decoration:none;
        text-transform:uppercase;
        top:-20px;
        &:hover {
          color:#20B3B2;
        }
      }
    }
  }

  //オーナーウィジェット
  &.user {
    margin-bottom: 20px;
      padding: 0;
    .project-widget-box {
      padding: 15px 20px;
    }
    .user-head {
      margin-bottom: 20px;
      .image {
        @include circleAvatar(65px);
      }
      &-right {
        display: inline-block;
        padding-left: 20px;
        vertical-align: middle;
        width: 200px;
        .title {
          margin: 0 0 4px;
        }
        .location {
          background: url(/view/images/location/s.png) no-repeat left center;
          padding-left: 18px;
          a {
            color: #9b9b9b;
            text-decoration: none;
          }
        }
      }
    }
    .about {
      p {
        line-height: 1.5;
        margin: 0 0 20px;
        padding: 0 2px;
      }
      &-link {
        margin-bottom: 20px;
        text-align: right;
        a {
          color: $colLinkText01;
          display: inline-block;
          font-size: 14px;
          line-height: 20px;
          text-decoration: none;
          &:after {
            background: url(/view/images/arrow_user_link.png) no-repeat right 50%;
            content: '';
            display: inline-block;
            height: 8px;
            padding: 0 0 4px 4px;
            width: 6px;
          }
        }
      }
    }
    .links {
      line-height: 36px;
      margin: 0 0 14px 0;
      padding: 1em 0;
      padding-bottom: 0;
      padding-top: 0;
      ul {
        line-height: 18px;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        a {
          font-size: 14px;
          font-weight: 600;
          text-decoration: none;
          word-wrap: break-word;
        }
      }
      &.message {
        background: url(/view/images/bocadillo/s.png) no-repeat left center;
        padding-left: 22px;
        text-decoration: none;
        text-indent: .5em;
        a {
          color: #28B258;
          font-size: 14px;
          font-weight: 600;
          text-decoration: none;
        }
      }
    }
    .widget.user-social {
      margin-bottom: 30px;
      padding: 0;
      .title {
        display: none;
      }
      ul {
        list-style:none;
        margin:0;
        overflow:visible;
        padding:0;
        li {
          display:block;
          float:left;
          margin-right: 10px;
          a {
            background:no-repeat left center;
            display: inline-block;
            text-indent: -99999px;
            width: 20px;
            height: 20px;
          }
          &.facebook {
            a {
              background-image:url(/view/images/social/facebook.png);
            }
          }
          &.google {
            a {
              background-image:url(/view/images/social/google.png);
            }
          }
          &.twitter {
            a {
              background-image:url(/view/images/social/twitter.png);
            }
          }
          &.identica {
            a {
              background-image:url(/view/images/social/identica.png);
            }
          }
          &.linkedin {
            a {
              background-image:url(/view/images/social/linkedin.png);
            }
          }
        }
      }
    }
  }

  &.project-supporters {
    background: none;
    padding: 0;
    .supertitle {
      margin: 0;
    }
    .title {
      display: none;
    }
    //todo:float部分が難解なので、マークアップを変更して修正する
    .summary {
      background-color: #fff;
      margin: 0 0 20px;
      overflow: hidden;
      padding: 20px;
      dt {
        font-size: 12px;
        margin: 0;
        &.reached {
          color: #663;
          margin-top: -1.5em;
        }
      }
      dd {
        font-size: 28px;
        font-weight: 600;
        margin: 0;
        //todo:next要素のclass名が同じでややこしいので、class名を変える。.summary-supportersとか
        //todo:上記に伴いclass名を変える。.summary-reachedとか
        &.reached {
          color: #903;
        }
      }
      .supporters {
        width: 50%;
      }
    }
    .supporters {
      background-color: #fff;
      > ul {
        list-style: none;
        margin: 0;
        overflow: hidden;
        padding: 30px 0;
        >li {
          border-right: $projectShowBorder;
          box-sizing: border-box;
          float: left;
          height: 90px;
          padding-bottom: 20px;
          width: 310px;
          &:nth-child(2n+2) {
            border-right: none;
          }
          &.active {
            background-color: #f3f3f3;
          }
        }
      }
      .supporterContainer {
        padding: 10px 10px 10px 65px;
        position: relative;
      }
      a.expand {
        bottom: 0;
        left: 0;
        position: absolute;
        text-decoration: none;
        right: 0;
        top: 0;
        z-index: 999;
      }
      .supporter {
        .avatar {
          background-color: #fff;
          display: block;
          height: 43px;
          left: 10px;
          position: absolute;
          top: 10px;
          width: 43px;
        }
        h4 {
          color: $colLinkText01;
          font-size: 16px;
          font-weight: 600;
          line-height: 1.15;
          margin: 0 0 .5em;
          overflow: hidden;
          position: relative;
        }
        dl {
          margin: 0;
          font-size: 12px;
        }
        dt {
          &.projects {
            display: inline-block;
          }
          &.date {
            display: none;
          }
        }
        dd {
          &.projects {
            display: inline-block;
            margin-left: 0;
          }
          &.date {
            color: #a6a8ab;
            font-size: 12px;
            margin: 5px 0 0 0;
          }
        }
      }
    }
    //todo:後でテスト。旧ソースから持ってきただけ
  }

}


//todo:project.scssで良いか検討中
/*----------------------------------------------------------------------
 .meter
----------------------------------------------------------------------*/
.meter {
  &.activable {
    max-width: 288px;
    z-index: 999;
  }
}

